@import '../../global//component/button';

.hero{
  background-color: #B70303;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 90px;
  &__content {
    width: 97%;
    color: white;
    display: flex;
    justify-content: space-between;
    &-text{
      width: 60%;
      h1{
        font-size: 6.4rem;
        font-family: 'Crimson Text', serif;
        font-weight: 500;
      }
      p{
        font-size: 2.5rem;
        font-family: 'Crimson Text', serif;
        margin-top: 50px;
      }
    }
    &-quote {
      width: 30%;
      align-self: center;

      blockquote p {
        font-style: italic;
        color: white;
        line-height: 6rem;
        font-weight: bold;
        font-size: 3rem;
     }
     blockquote p::before,
     blockquote p::after {
        content: "“";
        font-family: Georgia;
        font-size: 10rem;
        margin: 0 0 0 -7rem;
        position: absolute;
        opacity: 0.5;
        color: white;
     }
     blockquote p::after {
      content: "”";
      margin: 1rem 0 0;
    }
    .float-right {
      text-align: right;
      font-size: 1.9rem;
      font-family: 'Crimson Text', serif;
    }
    }
  }
}

.virtues {
  margin-top: 100px;
  &__container{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
  }
  &__text{
    width: 45%;
    align-self: center;
    h1{
      font-family: 'Crimson Text', serif;
      font-size: 3.5rem;
      font-weight: 500;
    }
    p{
      margin-top: 20px;
      font-size: 2rem;
      font-family: 'Crimson Text', serif;
      line-height: 1.3;
    }
  }
  &__image{
    max-width: 45%;
    max-height: 400px;
    img{
      width: 100%;
      height: 100%;
      box-shadow: 0 1.5rem 4rem rgba(black, .4);
      border-radius: 10px;
    }
  }
}
#mobile {
  display: none;
}

.benefit {
  margin-top: 100px;
  &__container{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
  }
  &__text{
    width: 47%;
    align-self: center;
    h1{
      font-family: 'Crimson Text', serif;
      font-size: 3rem;
      font-weight: 500;
    }
    p{
      margin-top: 20px;
      font-size: 2rem;
      font-family: 'Crimson Text', serif;
      position: relative;
      padding-left: 40px;

      &::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        background: url(../../assets/images/ico-bullet.svg) no-repeat 0 0;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        width: 24px;
        height: 24px;
      }
    }
  }
  &__image{
    max-width: 45%;
    max-height: 400px;
    img{
      width: 100%;
      height: 100%;
      box-shadow: 0 1.5rem 4rem rgba(black, .4);
      border-radius: 10px;
    }
  }
}


.vacancies{
  margin-top: 50px;
  background-color: #B70303;
  padding: 60px;
  &__heading {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-size: 5.4rem;
    font-weight: 500;
    color: white;
  }
  &__text{
    font-size: 2.1rem;
    font-family: 'Crimson Text', serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
    color: white;
  }
  &__container {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__card {
    background-color: white;
    border-radius: 20px;
    padding: 70px 30px;
    width: 45%;
    text-align: center;
    margin-top: 60px;
    h1 {
      font-size: 2.3rem;
      font-family: 'Crimson Text', serif;
    }
    p {
      font-size: 2rem;
      font-family: 'Crimson Text', serif;
      margin-top: 20px;
      line-height: 3rem;
    }
    a {
      display: inline-block;
      font-size: 2rem;
      margin-top: 20px;
      font-family: 'Crimson Text', serif;
      background-color: #B70303;
      color: white;
      padding: 10px 30px;
      border-radius: 30px;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

/**======================media queries============================================*/

@media (max-width: 1758px) {
  .hero__content {
    &-text {
      p {
        font-size: 2.2rem;
        margin-top: 20px;
        line-height: 1.3;
      }
    }
  }
}

@media (max-width: 1356px) {
  .hero__content {
    &-text {
      p {
        font-size: 2rem;
      }
    }
    &-quote {
      blockquote p {
        font-size: 2.5rem;
      }
    }
  }
  .virtues__container {
    width: 75%;
  }
  .benefit__container {
    width: 75%;
  }
}

@media (max-width: 1290px) {
  .hero {
    padding-left: 30px;
  }
  .hero__content {
    &-text {
      h1 {
        font-size: 5rem;
      }
      p {
        font-size: 2rem;
        margin-top: 20px;
      }
    }
    &-quote {
      blockquote p {
        font-size: 2.5rem;
      }
    }
  }
}

// @media(max-width: '1552px') {
//   .hero{
//     padding-top: 40px;
//   }
//   .virtues__container{
//     width: 80%;
//   }
//   .benefit__container {
//     width: 80%;
//   }
//   .vacancies__container{
//     width: 80%;
//   }
//   .vacancies__card{
//     width: 47%;
//   }
// }

// @media(max-width: '1440px') {
//   .hero{
//     padding-top: 70px;
//     &__content {
//       width: 60%;
//       h1 {
//         font-size: 5rem;
//       }
//       p {
//         margin-top: 10px;
//       }
//     }
//   }
//   .vacancies__container{
//     width: 80%;
//   }
//   .vacancies__card{
//     width: 47%;
//   }
// }

// @media(max-width: '970px') {
//   .hero{
//     padding-top: 70px;
//     &__content {
//       width: 90%;
//       h1 {
//         font-size: 5rem;
//       }
//       p {
//         margin-top: 20px;
//       }
//     }
//   }
//   .virtues__container {
//     width: 95%;
//   }
//   .virtues__text {
//     h1 {
//       font-size: 2.7rem;
//     }
//     p {
//       font-size: 1.7rem;
//       margin-top: 10px;
//     }
//   }

//   .benefit__container {
//     width: 95%;
//   }
//   .benefit__text{
//     h1 {
//       font-size: 2.7rem;
//     }
//     p{
//       font-size: 1.7rem;
//       margin-top: 10px;
//     }
//   }
//   .vacancies{
//     padding: 0 20px;
//   }
//   .vacancies__container{
//     width: 100%;
//   }
// }

// @media(max-width: '650px') {
//   .hero{
//     padding-top: 30px;

//     &__content {
//       width: 100%;
//       h1 {
//         font-size: 5rem;
//       }
//       p {
//         margin-top: 10px;
//       }
//     }
//   }
//   .virtues__container{
//     flex-wrap: wrap;
//     width: 70%;
//   }
//   .virtues__text {
//     width: 100%;
//     width: 90%;
//     margin: auto;
//     p {
//       font-size: 2rem;
//     }
//   }
//   .virtues__image {
//     width: 70%;
//     margin: auto;
//   }
//   .benefit__container{
//     flex-wrap: wrap;
//     width: 70%;
//   }
//   .benefit__text {
//     width: 100%;
//     width: 90%;
//     margin: auto;
//     p {
//       font-size: 2rem;
//     }
//   }
//   .benefit__image {
//     width: 100%;
//   }

//   #desktop {
//     display: none;
//   }
//   #mobile {
//     display: block;
//   }
//   .vacancies__container {
//     flex-wrap: wrap;
//   }
//   .vacancies__card{
//     width: 100%;
//   }
// }

// @media(max-width: '560px') {
//   .hero{
//     padding-left: 30px;
//     padding-top: 30px;

//     &__content {
//       width: 100%;
//       h1 {
//         font-size: 4.5rem;
//       }
//       p {
//         margin-top: 8px;
//       }
//     }
//   }
//   .virtues__container{
//     width: 100%;
//   }
//   .virtues__image {
//       width: 90%;
//   }
//   .benefit__container{
//     width: 90%;
//   }
// }

// @media(max-width: '480px') {
//   .hero{
//     padding-left: 30px;
//     padding-top: 30px;
//     height: 90vh;

//     &__content {
//       width: 100%;
//       h1 {
//         font-size: 4rem;
//         text-align: center;
//       }
//       p {
//         font-size: 2rem;
//         text-align: center;
//         margin-top: 8px;
//       }
//     }
//   }
//   .vacancies__heading{
//     font-size: 4rem;
//   }
//   .vacancies{
//     padding: 40 5px;
//   }
// }

// @media(max-width: '360px') {
//   .hero__content {
//     h1 {
//       font-size: 2.7rem;
//       font-weight: bold;
//     }
//     p {
//       font-size: 2rem;
//     }
//   }
// }
