<app-navbar></app-navbar>
<section class="hero">
  <div class="hero__content">
    <h1>Work with us to improve healthcare in Africa.</h1>
    <p>LifeBank is a vibrant community of young, passionate and innovative individuals keen on adding value to the African healthcare system with a sight on global impaction.</p>
    <p>Our community is diverse, reflective of a dynamic atmosphere that welcomes everyone.</p>
    <p>We are keen on making a difference across the continent.</p>
    <p>With your ideas, we can shake things up in the healthcare sector.</p>
  </div>
</section>

<section class="virtues">
  <div class="virtues__container">
    <div class="virtues__text">
      <h1>We are life bankers!</h1>
      <p>You must care! Our Patients | Our People | Our Partners In this order, all the time. We are relentless in the pursuit of our goals We rest but we are against work-life balance!</p>
      <p>We believe deeply in the growth mindset,  our cleaner should be preparing for the C.E.O role. We believe in Merit!</p>
      <p>LifeBank owes you cash money and growth – if you fulfil our virtues</p>
    </div>
    <div class="virtues__image">
      <img src="../../assets/images/Careers_hub_01.jpg" alt="career image">
    </div>
  </div>
</section>

<section class="benefit">
  <div class="benefit__container">
    <div class="benefit__image">
      <img src="../../assets/images/Careers_hub_02.jpg" alt="career image">
    </div>
    <div class="benefit__text">
      <h1>Work with us to improve healthcare in Africa.</h1>
      <p>Housing Assistance (we provide relocation assistance to all LifeBankers)</p>
      <p>Health Insurance (Comprehensive health insurance)</p>
      <p>Focused caring team members (you get to join a team of incredible achievers)</p>
      <p>Accelerated cover growth (we are committed to your growth and we believe that each team member should
        change jobs in 18- 24 months).</p>
    </div>
  </div>
</section>

<section class="vacancies">
  <h1 class="vacancies__heading">Work with LifeBank</h1>
  <p class="vacancies__text">Join our fast expanding team and help improve healthcare in Africa</p>
  <div class="vacancies__container">
    <div class="vacancies__card">
      <h1>Chief Growth Officer</h1>
      <p>The CGO will be responsible for finding, cultivating and executing partnership opportunities that drive the company’s core business and will work to launch new product offerings. S/he will also be responsible for setting up and growing LifeBank across Africa through partnerships with public and private institutions.</p>
      <a class="btn-link">Read More</a>
    </div>
    <div class="vacancies__card">
      <h1>Chief Finance Officer</h1>
      <p>The CFO will be responsible for overseeing all the financial operations of LifeBank, including accounting, financial reporting, tax, business control and treasury. S/he will direct the company’s financial objectives, control the company’s finances, establish financial policies, manage financial risk, manage the company’s financial relationships with banks, manage financial recordkeeping, as well as oversee the finance department. </p>
      <a class="btn-link">Read More</a>
    </div>
    <div class="vacancies__card">
      <h1>Country Manager</h1>
      <p>The Country Director will be responsible for overseeing the operations of LifeBank Nigeria. S/he will be expected to implement brand strategies, create budget, generate progress reports, drive growth in the public sector and ensure profitability as well as continuously develop and implement the company’s strategies, policies and practices. S/he is expected to ensure compliance with the company’s values.</p>
      <a class="btn-link">Read More</a>
    </div>
  </div>
</section>
<app-footer></app-footer>


