@import '../../global//component/button';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 50;
  background-color: #fff;
}

.section__container{
  height: 3920px;
}

.hero {
  background-color: #B70303;
  height: 90vh;
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
      h1{
        font-size: 9rem;
        font-family: 'Crimson Text', serif;
        font-weight: 500;
      }
      p{
        font-size:3.2rem;
        font-family: 'Crimson Text', serif;
        margin-top: 30px;
        padding-bottom: 70px;
        width: 100%;
      }
      a {
        font-size: 24px;
        padding: 12px 40px;
        margin-top: 40px;
        border-radius: 10px;
        font-family: 'Crimson Text', serif;
        cursor: pointer;
        outline: none;
        background-color: white;
        color: black;
        text-decoration: none;
      }
  }
}

.career{
  background :linear-gradient(to right top,rgba(0,0,0,.85),rgba(0,0,0,.85)),url(../../assets/images/photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  &__content {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
      h1{
        font-size: 9rem;
        font-family: 'Crimson Text', serif;
        font-weight: 500;
      }
      p{
        font-size: 3rem;
        font-family: 'Crimson Text', serif;
        margin-top: 30px;
      }
  }
}

.career2 {
  height: 100vh;
  background :linear-gradient(to right top,rgba(0,0,0,1),rgba(255, 252, 252, 0)),url(../../assets/images/bike.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;

    &__content {
      width: 48%;
      margin-bottom: 100px;
      margin-left: 50px;
      p {
        font-size: 4rem;
        font-family: 'Crimson Text', serif;
        margin-top: 40px;
        line-height: 6rem;
        color: white;
    }
  }

}

.virtues {
  &__heading {
    padding-top: 25px;
    text-align: center;
    font-size: 50px;
    font-family: inherit;
    padding-bottom: 25px;
  }
  &__paragraph {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 25px;
    font-family: inherit;
    padding-bottom: 70px;
  }
  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 65%;
    margin: 80px auto 0 auto;
  }
  &__text{
    width: 45%;
    align-self: center;
    h1{
      font-family: 'Crimson Text', serif;
      font-size: 3.5rem;
      font-weight: 500;
    }
    p{
      margin-top: 20px;
      font-size: 2rem;
      font-family: 'Crimson Text', serif;
      line-height: 1.3;
    }
  }
  &__image{
    max-width: 42%;
    max-height: 400px;
    img{
      width: 100%;
      height: 100%;
      box-shadow: 0 1.5rem 4rem rgba(black, .4);
      border-radius: 10px;
    }
  }
}

.benefit {
  margin-top: 50px;
  background-color: #cfcfcf;
  padding: 50px 0;

  .bene {
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
    font-family: inherit;
  }
  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
  }
  &__text{
    width: 47%;
    align-self: center;
    h1{
      font-family: 'Crimson Text', serif;
      font-size: 3rem;
      font-weight: 500;
    }
    p{
      margin-top: 20px;
      font-size: 2rem;
      font-family: 'Crimson Text', serif;
      position: relative;
      padding-left: 40px;

      &::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        background: url(../../assets/images/ico-bullet.svg) no-repeat 0 0;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        width: 24px;
        height: 24px;
      }
    }
  }
  &__image{
    max-width: 45%;
    max-height: 400px;
    img{
      width: 100%;
      height: 100%;
      box-shadow: 0 1.5rem 4rem rgba(black, .4);
      border-radius: 10px;
    }
  }
}

// .svg-1 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 140%;
//   left: 85%;
// }

// .svg-2 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 130%;
//   left: -20%;
// }

// .svg-3 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 140%;
//   left: -30%;
// }
// .svg-4 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 120%;
//   left: -30%;
// }
// .svg-5 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 140%;
//   left: -10%;
// }

// .svg-6 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 130%;
//   left: 120%;
// }
// .svg-7 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 130%;
//   left: 50%;
// }
// .svg-8 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 140%;
//   left: 100%;
// }
// .svg-9 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 140%;
//   left: 40%;
// }
// .svg-10 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 140%;
//   left: 70%;
// }
// .svg-11 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 140%;
//   left: 30%;
// }
// .svg-12 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 120%;
//   left: 80%;
// }
// .svg-13 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 150%;
//   left: 80%;
// }
// .svg-14 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 170%;
//   left: 20%;
// }
// .svg-15 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 165%;
//   left: 10%;
// }
// .svg-16 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 170%;
//   left: 10%;
// }
// .svg-17 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 170%;
//   left: -26%;
// }
// .svg-18 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 170%;
//   left: -16%;
// }
// .svg-19 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 174%;
//   left: 46%;
// }
// .svg-20 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 171%;
//   left: 56%;
// }
// .svg-21 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 171%;
//   left: 36%;
// }
// .svg-22 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 167%;
//   left: 96%;
// }
// .svg-23 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 174%;
//   left: 76%;
// }
// .svg-24 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 125%;
//   left: 6%;
// }
// .svg-25 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 175%;
//   left: 120%;
// }

// .svg-26 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 135%;
//   left: -50%;
// }
// .svg-27 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 135%;
//   left: 136%;
// }
// .svg-28 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 145%;
//   left: 56%;
// }

// .svg-29 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 145%;
//   left: 16%;
// }

// .svg-30 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 145%;
//   left: 110%;
// }

// .svg-31 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 158%;
//   left: -44%;
// }
// .svg-32 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 160%;
//   left: 135%;
// }
// .svg-33 {
//   animation: 2s ease-in 1s infinite alternate scale;
//   position: absolute;
//   top: 165%;
//   left: -3%;
// }

.vacancies{
  background-color: #B70303;
  padding: 60px;
  &__heading {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-size: 5.4rem;
    font-weight: 500;
    color: white;
  }
  &__text{
    font-size: 2.1rem;
    font-family: 'Crimson Text', serif;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 40px;
    color: white;
  }
  &__container {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__card {
    background-color: white;
    border-radius: 20px;
    padding: 70px 30px;
    width: 45%;
    text-align: center;
    margin-top: 60px;
    h1 {
      font-size: 2.3rem;
      font-family: 'Crimson Text', serif;
    }
    p {
      font-size: 2rem;
      font-family: 'Crimson Text', serif;
      margin-top: 20px;
      line-height: 3rem;
    }
    a {
      display: inline-block;
      font-size: 2rem;
      margin-top: 20px;
      font-family: 'Crimson Text', serif;
      background-color: #B70303;
      color: white;
      padding: 10px 30px;
      border-radius: 30px;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
hr {
  border: none;
  border-top: 1px solid white;
  color: white;
  height: 2px;
  width: 100%;
  z-index: 10;
}

@keyframes scale {
  0% {
    transform: scale(0.8)
  }

  100%{
    opacity: 1;
    transform: scale(1.3)
  }
}

/**======================media queries============================================*/

@media (max-width: 1758px) {
  .section__container {
    height: 3770px
  }
  .hero__content {
    &-text {
      p {
        font-size: 2.2rem;
        margin-top: 20px;
        line-height: 1.3;
      }
    }
  }
}

@media(max-width: '1552px') {
  .section__container {
    height: 3920px
  }
  .hero{
    padding-top: 40px;
  }
  .virtues__container{
    width: 80%;
  }
  .benefit__container {
    width: 80%;
  }
  .vacancies__container{
    width: 80%;
  }
  .vacancies__card{
    width: 47%;
  }
}


@media (max-width: 1440px) {
  .section__container {
    height: 3850px
  }
  .hero__content {
      h1 {
        font-size: 6.5rem;
      }
      p {
        font-size: 2.6rem;
        margin-top: 20px;
      }
    }
  }
  .career {
    &__content {
      width: 60%;
      h1 {
        font-size: 6rem;
      }
    }
  }
  .career2__content {
    p {
      font-size: 3rem;
      line-height: 4rem;
    }
  }
  .virtues__text {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.8rem;
    }
  }

  @media(max-width: 1366px) {
    .section__container {
      height: 3840px;
    }
  }

  @media (max-width: 1280px) {
    .hero__content {
        h1 {
          font-size: 6rem;
        }
        p {
          font-size: 2.2rem;
          margin-top: 20px;
        }
      }
    }
    .career {
      &__content {
        width: 60%;
        h1 {
          font-size: 6rem;
        }
      }
    }
    .career2__content {
      p {
        font-size: 3rem;
        line-height: 4rem;
      }
    }
    .virtues__text {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.8rem;
      }
    }

@media(max-width: 1024px) {
  .section__container {
    height: 4140px
  }
}

@media(max-width: '970px') {
  .hero{
    padding-top: 70px;
    &__content {
      width: 90%;
      h1 {
        font-size: 5rem;
      }
      p {
        margin-top: 20px;
      }
    }
  }

  .vacancies{
    padding: 0px 20px 30px 20px;
  }
  .vacancies__container{
    width: 100%;
  }
}

@media (max-width: 800px) {
  .section__container {
    height: 5700px;
  }
  .hero {
    padding-left: 30px;
  }
  .virtues__text {
    width: 80%;
  }
  .virtues__image {
    margin-top: 20px;
    order: 1;
    max-width: 80%;
  }
  .benefit__text {
    width: 100%;
  }
  .benefit__image {
    margin-top: 20px;
    order: 1;
    max-width: 80%;
  }
}
@media(max-width: '700px') {
  .hero{
    padding-top: 30px;

    &__content {
      width: 90%;
      h1 {
        font-size: 5rem;
      }
      p {
        margin-top: 10px;
      }
    }
  }
  .vacancies__container {
    flex-wrap: wrap;
  }
  .vacancies__heading {
    padding-top: 30px;
    font-size: 5rem;
  }
  .virtues__paragraph {
    width: 70%;
  }
  .vacancies__card{
    width: 100%;
  }
}

@media(max-width: 601px) {
  .section__container {
    height: 6280px;
  }
}

@media(max-width: '568px') {
  .virtues {
    margin-top: 50px;
  }
  .virtues__text{
    width: 100%;
  }
  .virtues__image {
      max-width: 100%;
  }
  .benefit__container{
    width: 90%;
  }
  .benefit__image {
    max-width: 100%;
  }
  .virtues__container {
    width: 90%;
  }
}

@media(max-width: '360px') {
  .hero__content {
    h1 {
      font-size: 3rem;
      font-weight: bold;
    }
    p {
      font-size: 1.6rem;
    }
  }
}



@media only screen and  (max-width: 450px) {
  .section__container {
    height: 6530px;
  }
  .we-are-the{
    font-size: 30px !important;
  }
  .we-believe{
    font-size:20px !important;
  }
  .text-stuff{
    font-size: 20px !important;
  }
  .career{
    &__content {
      top: 45%;
      text-align: center;
      width:80%;
      margin:auto;
    }
  }
  .career2{
    &__content {
      top: 65%;
      text-align: center;
      width:80%;
      margin:auto;
    }
  }
  .virtues {
    &__heading {
      font-size: 25px;
    }
    &__paragraph {
      width: 90%;
      text-align: left;
      font-size: 20px;
      font-family: inherit;
      padding-bottom: 0;
    }
  }
}
@media(max-width: 411px) {
  .section__container {
    height: 6570px;
  }
}

@media(max-width: 375px) {
  .section__container {
    height: 6710px;
  }
}

@media(max-width: 360px) {
  .section__container {
    height: 6850px;
  }
}

@media(max-width: 320px) {
  .section__container {
    height: 7140px;
  }
}
