<app-navbar></app-navbar>
<section class="hero">
  <div class="hero__content">
    <div class="hero__content-text">
      <h1> Join us and save the world!</h1>
      <p>
        We are LifeBankers - We believe no one should die because their hospital team could not find what they needed to save their lives. We believe businesses with impact at their center will solve entrenched problems and rescue people. We believe in working hard to build the business of saving lives.
      </p>
      <p>Our community is diverse, reflective of a dynamic atmosphere that welcomes everyone and asks that you bring your real self to work. We are keen on making a difference across our continent.
        With your ingenuity and hard work, we can rescue our people and build the infrastructure for healthcare in Africa.
        </p>
        <p>We are a team driven by our values. Everyday we strive to fulfill these values in everything we do. All LifeBankers must commit to these set of values and this is the secret sauce of what makes working at LifeBank awesome. </p>
    </div>
    <!-- <div class="hero__content-quote">
      <blockquote>
        <p>
          ...I shall take no wife, hold no lands, father no children. I shall wear no crowns and win no glory. I shall die at my post...
    </blockquote>
    <p class="float-right"> -The LifeBank Night's Watch Oath!</p>
    </div> -->
  </div>
</section>

<section class="virtues">
  <div class="virtues__container">
    <div class="virtues__text">
      <h1>You Must Care: Our patients, our people, our partners. </h1>
      <p>At LifeBank, you must care for our patients, our people (team members) and our partners. Caring for patients, means focusing on impact and doing all we can to rescue people on their worst day. We are the watchers on the wall, and the shield that guards. We care about each other (people), we don’t do office politics, and we don’t work with assholes. We care about our partners, because we believe it is best when everyone wins together. </p>
    </div>
    <div class="virtues__image">
      <img src="../../assets/images/care.jpg" alt="career image">
    </div>
  </div>
</section>

<section class="virtues">
  <div class="virtues__container">
    <div class="virtues__image">
      <img src="../../assets/images/aaaaaaaaa.jpg" alt="career image">
    </div>
    <div class="virtues__text">
      <h1>We are relentless in the pursuit of our goals. We are the beehive!</h1>
      <p>At LifeBank, it is our duty to rescue the most vulnerable members of our community. We must rescue pregnant women who are bleeding, little kids who need oxygen, newborns who need vaccines, and many more critical ill people and we must do this at scale. We are a team that must deliver operational excellence through sheer consistent effort. This requires a  relentless focus and effort from every LifeBanker. We are the beehive.</p>
    </div>
  </div>
</section>

<section class="virtues">
  <div class="virtues__container">
    <div class="virtues__text">
      <h1>We believe deeply in the growth mindset - Our cleaner must be preparing for the CEO role.</h1>
      <p>
        At LifeBank, we learn. We are never satisfied with the status quo. Our work is never finished. Everyday, we are committed to our personal growth and by extension the growth of the business. We believe anything can happen, as long as you are committed to learning and to doing the work. That is what truly matters to us. You must be committed to your personal growth, and be driven by a learning spirit.
      <p>
      </p>
    </div>
        <div class="virtues__image">
      <img src="../../assets/images/growth.jpg" alt="career image">
    </div>
  </div>
</section>

<section class="virtues">
  <div class="virtues__container">
    <div class="virtues__image">
      <img src="../../assets/images/Careers_hub_01.jpg" alt="career image">
    </div>
    <div class="virtues__text">
      <h1>We believe in merit. Only the excellent survive.</h1>
      <p>At LifeBank, office politics bore us. We don't play favorites and your growth in the business is not at all dependent on who likes you and who doesn't. Your growth is entirely dependent on you. If you live within our values, and deliver value to LifeBank consistently, we owe you growth that comes with financial rewards.
      </p>
    </div>
  </div>
</section>

<section class="benefit">
  <div class="benefit__container">
    <div class="benefit__text">
      <h1>Work with us to improve healthcare in Africa.</h1>
      <p>Housing Assistance</p>
      <p>Health Insurance </p>
      <p>Focused caring team members.</p>
      <p>Life Insurance</p>
      <p>Accelerated growth.</p>
    </div>
    <div class="benefit__image">
      <img src="../../assets/images/Careers_hub_02.jpg" alt="career image">
    </div>
  </div>
</section>

<section class="vacancies">
  <h1 class="vacancies__heading">Work with LifeBank</h1>
  <p class="vacancies__text">Join our fast expanding team and help improve healthcare in Africa.</p>
  <div class="vacancies__container">
    <div class="vacancies__card">
      <h1>Chief Growth Officer</h1>
      <p>The CGO will be responsible for finding, cultivating and executing partnership opportunities that drive the company’s core business and will work to launch new product offerings. S/he will also be responsible for setting up and growing LifeBank across Africa through partnerships with public and private institutions.</p>
      <a class="btn-link">Read More</a>
    </div>
    <div class="vacancies__card">
      <h1>Chief Finance Officer</h1>
      <p>The CFO will be responsible for overseeing all the financial operations of LifeBank, including accounting, financial reporting, tax, business control and treasury. S/he will direct the company’s financial objectives, control the company’s finances, establish financial policies, manage financial risk.</p>
      <a class="btn-link" [routerLink] = "['/careers/cfo']">Read More</a>
    </div>
    <div class="vacancies__card">
      <h1>Country Manager</h1>
      <p>The Country Director will be responsible for overseeing the operations of LifeBank Nigeria. S/he will be expected to implement brand strategies, create budget, generate progress reports, drive growth in the public sector and ensure profitability..</p>
      <a class="btn-link">Read More</a>
    </div>
  </div>
</section>
<app-footer></app-footer>
