@import '../../global//component/button';

.hero{
  background-color: #B70303;
  height: 90vh;
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
      h1{
        font-size: 9rem;
        font-family: 'Crimson Text', serif;
        font-weight: 500;
      }
      p{
        font-size:3.2rem;
        font-family: 'Crimson Text', serif;
        margin-top: 30px;
        padding-bottom: 70px;
        width: 100%;
      }
      a {
        font-size: 24px;
        padding: 12px 40px;
        margin-top: 40px;
        border-radius: 10px;
        font-family: 'Crimson Text', serif;
        cursor: pointer;
        outline: none;
        background-color: white;
        color: black;
        text-decoration: none;
      }
  }
}

.career{
  background :linear-gradient(to right top,rgba(0,0,0,.85),rgba(0,0,0,.85)),url(../../assets/images/photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  &__content {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
      h1{
        font-size: 9rem;
        font-family: 'Crimson Text', serif;
        font-weight: 500;
      }
      p{
        font-size: 3rem;
        font-family: 'Crimson Text', serif;
        margin-top: 30px;
      }
  }
}

.career2 {
  height: 100vh;
  background :linear-gradient(to right top,rgba(0,0,0,1),rgba(255, 252, 252, 0)),url(../../assets/images/bike.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;

    &__content {
      width: 48%;
      margin-bottom: 100px;
      margin-left: 50px;
      p {
        font-size: 4rem;
        font-family: 'Crimson Text', serif;
        margin-top: 40px;
        line-height: 6rem;
        color: white;
    }
  }
}




.virtues {
  &__heading {
    padding-top: 70px;
    text-align: center;
    font-size: 50px;
    font-family: inherit;
    padding-bottom: 25px;
  }
  &__paragraph {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 25px;
    font-family: inherit;
    padding-bottom: 70px;
  }
  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 65%;
    margin: 80px auto 0 auto;
  }
  &__text{
    width: 45%;
    align-self: center;
    h1{
      font-family: 'Crimson Text', serif;
      font-size: 3.5rem;
      font-weight: 500;
    }
    p{
      margin-top: 20px;
      font-size: 2rem;
      font-family: 'Crimson Text', serif;
      line-height: 1.3;
    }
  }
  &__image{
    max-width: 42%;
    max-height: 400px;
    img{
      width: 100%;
      height: 100%;
      box-shadow: 0 1.5rem 4rem rgba(black, .4);
      border-radius: 10px;
    }
  }
}

.benefit {
  margin-top: 50px;
  background-color: #cfcfcf;
  padding: 50px 0;

  .bene {
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
    font-family: inherit;
  }
  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
  }
  &__text{
    width: 47%;
    align-self: center;
    h1{
      font-family: 'Crimson Text', serif;
      font-size: 3rem;
      font-weight: 500;
    }
    p{
      margin-top: 20px;
      font-size: 2rem;
      font-family: 'Crimson Text', serif;
      position: relative;
      padding-left: 40px;

      &::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        background: url(../../assets/images/ico-bullet.svg) no-repeat 0 0;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        width: 24px;
        height: 24px;
      }
    }
  }
  &__image{
    max-width: 45%;
    max-height: 400px;
    img{
      width: 100%;
      height: 100%;
      box-shadow: 0 1.5rem 4rem rgba(black, .4);
      border-radius: 10px;
    }
  }
}


.vacancies{
  background-color: #B70303;
  padding: 60px;
  &__heading {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-size: 5.4rem;
    font-weight: 500;
    color: white;
  }
  &__text{
    font-size: 2.1rem;
    font-family: 'Crimson Text', serif;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 40px;
    color: white;
  }
  &__container {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__card {
    background-color: white;
    border-radius: 20px;
    padding: 70px 30px;
    width: 45%;
    text-align: center;
    margin-top: 60px;
    h1 {
      font-size: 2.3rem;
      font-family: 'Crimson Text', serif;
    }
    p {
      font-size: 2rem;
      font-family: 'Crimson Text', serif;
      margin-top: 20px;
      line-height: 3rem;
    }
    a {
      display: inline-block;
      font-size: 2rem;
      margin-top: 20px;
      font-family: 'Crimson Text', serif;
      background-color: #B70303;
      color: white;
      padding: 10px 30px;
      border-radius: 30px;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

/**======================media queries============================================*/

@media (max-width: 1758px) {
  .hero__content {
    &-text {
      p {
        font-size: 2.2rem;
        margin-top: 20px;
        line-height: 1.3;
      }
    }
  }
}

@media(max-width: '1552px') {
  .hero{
    padding-top: 40px;
  }
  .virtues__container{
    width: 80%;
  }
  .benefit__container {
    width: 80%;
  }
  .vacancies__container{
    width: 80%;
  }
  .vacancies__card{
    width: 47%;
  }
}

@media (max-width: 1290px) {
  .hero__content {
    &-text {
      h1 {
        font-size: 5rem;
      }
      p {
        font-size: 2rem;
        margin-top: 20px;
      }
    }
  }
  .virtues__text {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
}

@media(max-width: '970px') {
  .hero{
    padding-top: 70px;
    &__content {
      width: 90%;
      h1 {
        font-size: 5rem;
      }
      p {
        margin-top: 20px;
      }
    }
  }

  .vacancies{
    padding: 0 20px;
  }
  .vacancies__container{
    width: 100%;
  }
}

@media (max-width: 800px) {
  .hero {
    padding-left: 30px;
  }
  .virtues__text {
    width: 80%;
  }
  .virtues__image {
    margin-top: 20px;
    order: 1;
    max-width: 80%;
  }
  .benefit__text {
    width: 100%;
  }
  .benefit__image {
    margin-top: 20px;
    order: 1;
    max-width: 80%;
  }
}

@media(max-width: '700px') {
  .hero{
    padding-top: 30px;

    &__content {
      width: 90%;
      h1 {
        font-size: 5rem;
      }
      p {
        margin-top: 10px;
      }
    }
  }
  .vacancies__container {
    flex-wrap: wrap;
  }
  .vacancies__heading {
    padding-top: 30px;
    font-size: 5rem;
  }
  .vacancies__card{
    width: 100%;
  }
}

@media(max-width: '568px') {
  .virtues {
    margin-top: 50px;
  }
  .virtues__text{
    width: 100%;
  }
  .virtues__image {
      max-width: 100%;
  }
  .benefit__container{
    width: 90%;
  }
  .benefit__image {
    max-width: 100%;
  }
  .virtues__container {
    width: 90%;
  }
}

@media(max-width: '360px') {
  .hero__content {
    h1 {
      font-size: 3rem;
      font-weight: bold;
    }
    p {
      font-size: 1.6rem;
    }
  }
}
