<div class="navbar" id="navbar">
  <div class="navbar__logo">
    <a [routerLink] = "['/home']" ><img src="../../../../assets/images/final-logo.gif" alt="lifebank logo"></a>
  </div>
  <nav id="desktop__nav">
    <ul>
      <li>
        <a [routerLink] = "['/vision']">Our Vision</a>
      </li>
      <li>
        <a [routerLink] = "['/impact']">Our Impact</a>
      </li>
      <li>
        <a [routerLink]="['/hospitals']">Hospitals</a>
      </li>
      <li>
        <a [routerLink]="['/careers']">Careers</a>
      </li>
      <li>
        <a [routerLink]="['/innovation']">Innovation</a>
      </li>
    </ul>
  </nav>
  <!-- <img src="https://img.icons8.com/material/30/000000/menu--v1.png" id="mobile__nav"/> -->
  <!-- <input type="checkbox" class="nav__checkbox" id="nav__toggle">
  <label for="nav__toggle" class="nav__button">Menu</label> -->
</div>


<div class="mobile">
  <input type="checkbox" class="nav__checkbox" id="nav__toggle">
  <label for="nav__toggle" class="nav__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>
  <div class="mobile__navigation">
    <nav id="mobile__navigation-items">
      <ul>
        <li>
          <a [routerLink]="['/vision']" style="color: black;">Our Vision</a>
        </li>
        <li>
          <a [routerLink]="['/hospitals']" style="color: black;">Hospitals</a>
        </li>
        <li>
          <a [routerLink] = "['/impact']" style="color: black;">Impact</a>
        </li>
        <li>
          <a [routerLink]="['/careers']" style="color: black;">Careers</a>
        </li>
        <li>
          <a [routerLink]="['/innovation']" style="color: black;">Innovation</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

