<div class="navbar" id="navbar">
  <div class="navbar__logo">
    <img src="../../../../assets/images/final-logo.gif" alt="lifebank logo">
  </div>
  <nav>
    <ul>
      <li>
        <a href="#" style="color: black;">Our Story</a>
      </li>
      <li>
        <a href="#" style="color: black;">Hospitals</a>
      </li>
      <li>
        <a href="#" style="color: black;">Patients</a>
      </li>
      <li>
        <a href="#" style="color: black;">Impact</a>
      </li>
      <li>
        <a href="#" style="color: black;">Careers</a>
      </li>
      <li>
        <a href="#" class="btn-link">Get in Touch</a>
      </li>
    </ul>
  </nav>
</div>


