@import '../../../../global/component/button';
@import '../../../../global/abstract/variables';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 25px 0px 5px;
  // width: 85%;
  padding: 5px 80px;
  margin: auto;
  &__logo {
    width: 13%;
    height: 13%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  ul{
    display: flex;
    list-style: none;
    font-size: 18px;

    a{
      text-decoration: none;
      margin-left: 30px;
    }
  }
}
.nav__button {
  position: fixed;
  left: 90%;
  top: 80px;
  z-index: 30;
  display: none;
}
.nav__checkbox {
  display: none;
}
.mobile__navigation {
  position: fixed;
  background-color: $LifeBankred;
  z-index: 1;
  height: 100vh;
  width: 0;
  opacity: 0;
  transition: opacity .5s;
  nav {
    margin-top: 50px;
    text-align: center;
    ul {
      li {
        margin-top: 30px;
        a {
          text-decoration: none;
          font-size: 18px;
        }
      }
    }
  }
}

.navigation__icon {
  position: relative;
  &,
  &::before,
  &::after {
    width: 2.6rem;
    height: 3px;
    background-color: black;
    display: inline-block;
  }
  &::before,
  &::after{
    content: "";
    position: absolute;
    left: 0;
  }
  &::before{
    top: -1rem;
  }
  &::after{
    top: 1rem;
  }
}

.nav__checkbox:checked ~ .mobile__navigation {
  opacity: 1;
  width: 100vw;
}

.nav__checkbox:checked + .nav__button .navigation__icon {
  background-color: transparent;
}

.nav__checkbox:checked + .nav__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.nav__checkbox:checked + .nav__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}


.sticky {
  background-color: white;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 80px;
  img{
    width: 70%;
  }
}

@media(max-width: '1440px') {
  .navbar__logo {
    width: 18%;
    height: 18%;
  }
}
@media(max-width: '1000px'){
  .navbar {
    padding: 5px 20px;
    nav{
      display: none;
    }

  &__logo{
    width: 20%;
    height: 20%;
  }
  }
  #mobile__nav {
    display: block;
  }
}

@media(max-width: '900px') {
  .navbar__logo {
    width: 250px;
    height: 100px;
  }
}

@media(max-width: '570px'){
  .navbar {
    padding: 5px 20px;
    nav{
      display: none;
    }

  &__logo{
    width: 30%;
    height: 30%;
  }
  }
  .nav__button{
    display: block;
  }
}

@media(max-width: '360px'){
  .navbar {
    padding: 5px 10px;
    nav{
      display: none;
    }

  &__logo{
    width: 50%;
    height: 50%;
  }
  }
}

