@import '../../../../global/component/button';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px 5px;
  width: 85%;
  margin: auto;
  &__logo {
    width: 13%;
    height: 13%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  ul{
    display: flex;
    list-style: none;
    font-size: 18px;

    a{
      text-decoration: none;
      margin-left: 30px;
    }
  }
}
//styles to stick navbar at the top.

.sticky {
  background-color: white;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 80px;
  img{
    width: 70%;
  }
}

@media(max-width: '1440px') {
  .navbar__logo {
    width: 18%;
    height: 18%;
  }
}
