@import '../../../../global/component/button';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 170px;
  &__logo {
    width: 12%;
    height: 12%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  ul{
    display: flex;
    list-style: none;
    font-size: 18px;

    a{
      text-decoration: none;
      margin-left: 30px;
      font-weight: bold;
    }
  }
}
//styles to stick navbar at the top.

.sticky {
  background-color: white;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
  position: fixed;
  top: 0;
  width: 100%;
}
