<div class="navbar" id="navbar">
  <div class="navbar__logo">
    <a [routerLink] = "['/home']" ><img src="../../../../assets/images/final-logo.gif" alt="lifebank logo"></a>
  </div>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/vision']" style="color: black;">Our Vision</a>
      </li>
      <li>
        <a href="#" style="color: black;">Our Story</a>
      </li>
      <li>
        <a [routerLink]="['/hospitals']" style="color: black;">Hospitals</a>
      </li>
      <li>
        <a href="#" style="color: black;">Patients</a>
      </li>
      <li>
        <a [routerLink] = "['/impact']" style="color: black;">Impact</a>
      </li>
      <li>
        <a href="#" style="color: black;">Careers</a>
      </li>
      <li>
        <a [routerLink] = "['/contact']" class="btn-link">Get in Touch</a>
      </li>
    </ul>
  </nav>
</div>

