<h2 mat-dialog-title>Join Us</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="Org Name">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Message</mat-label>
      <textarea matInput  maxlength="256"></textarea>
    </mat-form-field>

    <button class="btn">Send</button>
</form>
</mat-dialog-content>
