<app-navbar></app-navbar>

<section class="contact">
  <div class="contact__text">
    <div>
      <h1>Get in Touch</h1>
      <p>LifeBank has a 24/7 call centre, a web application and USSD channels to communicate with hospitals, clients, partners and volunteers.</p>
    </div>
  </div>
  <div class="contact__form">
    <form>
      <div class="form__control">
        <input type="text" placeholder="Name" required>
      </div>
      <div class="form__control">
        <input type="email" placeholder="Email" required>
      </div>
      <div class="form__control">
        <textarea type="text" placeholder="Message" rows="7" cols="50" required></textarea>
      </div>
      <button class="btn-link">Submit</button>
    </form>
  </div>
</section>
<app-footer></app-footer>
