<h2 mat-dialog-title>Leave a message</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="Org Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contact</mat-label>
      <input matInput placeholder="Org Name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose an option</mat-label>
      <mat-select>
        <mat-option value="option1">Save a Life</mat-option>
        <mat-option value="option2">Help a Community</mat-option>
        <mat-option value="option3">Train a Rider</mat-option>
        <mat-option value="option3">Support our work</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="btn">Send</button>
</form>
</mat-dialog-content>
