@import '../../global/abstract/_sectionContentAnimation.css';

.vision {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(black, 0.9), rgba(gray, 0.5)),
             url(../../assets/images/founder.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;

    &__content {
      color: white;
      width: 45%;
      margin-bottom: 100px;
      margin-left: 100px;
      h1 {
        font-size: 40px;
        font-weight: bold;
        animation-name: moveInTop;
        animation-duration: 2s;
        font-family: 'Crimson Text', serif;
      }
      p {
        font-size: 4rem;
        font-family: 'Crimson Text', serif;
        margin-top: 40px;
        line-height: 6rem;
        animation-name: moveInBottom;
        animation-duration: 2s;
      }
    }
}

@media(max-width: '1440px') {
  .vision__content{
    margin-left: 100px;
    width: 60%;
    h1{
      font-size: 3.3rem;
    }
    p{
      font-size: 4rem;
      line-height: 6.1rem;
    }
  }

}

.vision_2 {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(black, 0.9), rgba(gray, 0.5)),
             url(../../assets/images/vision2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;

    &-content {
      color: white;
      width: 45%;
      margin-bottom: 100px;
      margin-left: 100px;
      h1 {
        font-size: 40px;
        font-weight: bold;
        animation-name: moveInTop;
        animation-duration: 2s;
        font-family: 'Crimson Text', serif;
      }
      p {
        font-size: 3.7rem;
        font-family: 'Crimson Text', sans-serif;
        margin-top: 40px;
        line-height: 6rem;
      }
    }
}

@media(max-width: '1440px') {
  .vision_2-content{
    margin-left: 100px;
    width: 60%;
    h1{
      font-size: 3.3rem;
    }
    p{
      font-size: 3.7rem;
      line-height: 5rem;
    }
  }

}

.vision_3 {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(black, 0.9), rgba(gray, 0.5)),
             url(../../assets/images/vision3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;

    &-content {
      color: white;
      width: 45%;
      margin-bottom: 100px;
      margin-left: 100px;
      h1 {
        font-size: 40px;
        font-weight: bold;
        animation-name: moveInTop;
        animation-duration: 2s;
        font-family: 'Crimson Text', serif;
      }
      p {
        font-size: 4rem;
        font-family: 'Crimson Text', serif;
        margin-top: 40px;
        line-height: 6rem;
      }
    }
}

@media(max-width: '1440px') {
  .vision_3-content{
    margin-left: 100px;
    width: 60%;
    h1{
      font-size: 3.3rem;
    }
    p{
      font-size: 4rem;
      line-height: 6.1rem;
    }
  }

}

@keyframes moveInTop {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }

    100%{
      opacity: 1;
      transform: translate(0);
    }
}
@keyframes moveInBottom{
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}
