<div fullpage id="fullpage" [options]="config">
  <div class="section">
    <app-navbar></app-navbar>
    <section class="vision section">
      <div class="vision__content">
        <h1>Our Vision</h1>
        <p>  We believe no AFRICAN should die because of a shortage of critical supplies.
          I, TEMIE, believe death from postpartum haemorrhage is absolutely unacceptable.
        </p>
      </div>
    </section>
  </div>

  <section class="vision_2 section section-two">
    <div class="vision_2-content">
      <p> We believe that 9 out of 10 women who die from postpartum haemorrhage could have been saved with easy access to blood.</p>
      <p>Lack of oxygen kills about 177,000 children every year.</p>
      <p>1.5 million children around the world die annually from vaccine preventable illness globally</p>
    </div>
  </section>

  <section class="vision_3 section section-two">
    <div class="vision_3-content">
      <p>  Critically ill people with chronic conditions like cancer, sickle cell, diabetes, kidney problems need consistent
        access to critical supplies.</p>
        <p>LifeBank is committed to solving this.</p>
    </div>
  </section>
  <app-footer></app-footer>
</div>

