@import '../../global/abstract/_sectionContentAnimation.css';
@import '../../global/abstract/variables';
@import '../../global/component/button';


.nav {
  box-shadow: 5px 5px 20px #cfcfcf;
}

.panel {
  background-color: white;
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: left 750px;
  &__content {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      font-size: 60px;
      font-weight: 550;
      font-family: inherit;
    }
    p {
      padding-top: 20px;
      font-size: 45px;
      font-family: inherit;
      padding-bottom: 40px;
    }
  }
}
.vision {
  background :linear-gradient(to right top,rgba(0,0,0,1),rgba(255, 252, 252, 0)),url(../../assets/images/blur.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    align-items: flex-end;
    &__content {
      color: white;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 65%;
      p {
        font-size: 5rem;
        font-family: 'Crimson Text', serif;
        margin-top: 40px;
        line-height: 6rem;
        animation-name: moveInBottom;
        animation-duration: 2s;
      }
    }
}


.vision_2 {
  height: 70vh;
  background :linear-gradient(to right top,rgba(0,0,0,1),rgba(255, 252, 252, 0)),url(../../assets/images/multi-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;

    &-content {
      color: white;
      width: 48%;
      margin-bottom: 100px;
      margin-left: 100px;
      h1 {
        font-size: 40px;
        font-weight: bold;
        animation-name: moveInTop;
        animation-duration: 2s;
        font-family: 'Crimson Text', serif;
      }
      p {
        font-size: 3.7rem;
        font-family: 'Crimson Text', sans-serif;
        margin-top: 40px;
        line-height: 6rem;
      }
      button {
        margin-top: 40px;
        border-radius: 7px;
        font-size: 20px;
        padding: 15px 70px;
      }
    }
}

.vision_3 {
  height: 100vh;
  background :linear-gradient(to right top,rgba(0,0,0,1),rgba(255, 252, 252, 0)),url(../../assets/images/responsive-screen-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;

    &-content {
      color: white;
      width: 46%;
      margin-bottom: 100px;
      margin-left: 50px;
      h1 {
        font-size: 40px;
        font-weight: bold;
        animation-name: moveInTop;
        animation-duration: 2s;
        font-family: 'Crimson Text', serif;
      }
      p {
        font-size: 4rem;
        font-family: 'Crimson Text', serif;
        margin-top: 40px;
        line-height: 6rem;
      }
      button {
        margin-top: 40px;
        border-radius: 7px;
        font-size: 20px;
        padding: 15px 70px;
      }
    }
}

.vision_4 {
  height: 70vh;
  background :linear-gradient(to right top,rgba(0,0,0,1),rgba(255, 252, 252, 0)),url(../../assets/images/boat-by-lifebank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;

    &-content {
      color: white;
      width: 48%;
      margin-bottom: 100px;
      margin-left: 100px;
      h1 {
        font-size: 40px;
        font-weight: bold;
        animation-name: moveInTop;
        animation-duration: 2s;
        font-family: 'Crimson Text', serif;
      }
      p {
        font-size: 3.7rem;
        font-family: 'Crimson Text', sans-serif;
        margin-top: 40px;
        line-height: 6rem;
      }
      button {
        margin-top: 40px;
        border-radius: 7px;
        font-size: 20px;
        padding: 15px 70px;
      }
    }
}

.contact {
  background-color: $LifeBankred;
  height: 120vh;
  &__content {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    h1 {
      font-size: 60px;
      font-weight: 550;
      font-family: inherit;
    }
    p {
      padding-top: 20px;
      padding-bottom: 40px;
      font-size: 45px;
      font-family: inherit;
    }
    button {
      font-size: 24px;
      padding: 15px 60px;
      margin-top: 40px;
      border-radius: 10px;
      font-family: inherit;
      cursor: pointer;
      outline: none;
    }
  }
  .right {
    border: none;
    border-top: 3px solid white;
    color: white;
    height: 6px;
    width: 40%;
    position: absolute;
    top: 93.8%;
    z-index: 10;
  }
  .left{
    border: none;
    border-top: 3px solid white;
    color: white;
    height: 6px;
    width: 40%;
    position: absolute;
    top: 93.6%;
    left: 65%;
    z-index: 10;
  }
  .icon {
    position: absolute;
    top: 90%;
    left: 33%;
    img {
      z-index: 30;
      height: 120%;
      width: 120%;
    }
  }
}

.section-one h1 {
	-webkit-transform: translateY(-400px);
	        transform: translateY(-400px);
	opacity: 0;
	-webkit-transition: opacity .8s ease-in-out,
				-webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: opacity .8s ease-in-out,
				-webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .8s ease-in-out;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .8s ease-in-out,
				-webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.section-one.active  h1 {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
}

.section-one  p {
	-webkit-transform: translateX(100%);
	        transform: translateX(100%);
	opacity: 0;
	-webkit-transition: opacity .8s ease-in-out,
				-webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: opacity .8s ease-in-out,
				-webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .8s ease-in-out;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .8s ease-in-out,
				-webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.section-one.active p {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	opacity: 1;
}

.section-one.active p {
	-webkit-transition-delay: .2s;
	        transition-delay: .2s;
}



@keyframes moveInTop {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }

    100%{
      opacity: 1;
      transform: translate(0);
    }
}
@keyframes moveInBottom{
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

/*=============================media queries=================*/

@media(max-width: 1720px) {
  .vision__content {
    p {
      font-size: 3.5rem;
      line-height: 1.28;
    }
  }

  .vision_2-content {
    p {
      font-size: 3.5rem;
      line-height: 1.28;
    }
  }
}

@media(max-width: 1277px) {
  .vision__content {
    p {
      font-size: 3rem;
      line-height: 1.28;
    }
  }

  .vision_2-content {
    p {
      font-size: 3rem;
      line-height: 1.28;
    }
  }

  .vision_3-content {
    p {
      font-size: 3.4rem;
      line-height: 1.28;
    }
  }
}

@media(max-width: 1009px) {
  .vision__content {
    margin-left: 50px;
    width: 55%;
    p {
      font-size: 2.5rem;
      line-height: 1.28;
    }
  }

  .vision_2-content {
    margin-left: 50px;
    width: 55%;
    p {
      font-size: 2.5rem;
      line-height: 1.28;
    }
  }

  .vision_3-content {
    margin-left: 50px;
    width: 55%;
    p {
      font-size: 2.7rem;
      line-height: 1.28;
    }
  }
}

@media(max-width: 727px) {
  .vision__content {
    margin-left: 50px;
    width: 60%;
    p {
      font-size: 2.3rem;
      line-height: 1.28;
    }
  }

  .vision_2-content {
    margin-left: 50px;
    width: 60%;
    p {
      font-size: 2.3rem;
      line-height: 1.28;
    }
  }

  .vision_3-content {
    margin-left: 50px;
    width: 60%;
    p {
      font-size: 2.3rem;
      line-height: 1.28;
    }
  }
}

@media(max-width: 550px) {
  .vision__content {
    margin-left: 10px;
    width: 60%;
    margin-bottom: 20px;
    p {
      font-size: 2.3rem;
      line-height: 1.28;
    }
    h1 {
      font-size: 30px;
    }
  }

  .vision_2-content {
    margin-left: 50px;
    margin-bottom: 20px;
    width: 60%;
    p {
      font-size: 2.3rem;
      line-height: 1.28;
    }
    h1 {
      font-size: 30px;
    }
  }

  .vision_3-content {
    margin-left: 50px;
    margin-bottom: 20px;
    width: 60%;
    p {
      font-size: 2.3rem;
      line-height: 1.28;
    }
  }
}

@media(max-width: 360px) {
  .vision__content {
    margin-left: 30px;
    width: 70%;
    p {
      font-size: 2rem;
      line-height: 1.28;
      margin-top: 20px;
    }
    h1 {
      font-size: 30px;
    }
  }

  .vision_2-content {
    margin-left: 30px;
    width: 70%;
    p {
      font-size: 2rem;
      line-height: 1.28;
      margin-top: 20px;
    }
    h1 {
      font-size: 30px;
    }
  }

  .vision_3-content {
    margin-left: 30px;
    width: 70%;
    p {
      font-size: 2rem;
      line-height: 1.28;
      margin-top: 20px;
    }
    h1 {
      font-size: 30px;
    }
  }
}
// @media(max-width: '1440px') {
//   .vision__content{
//     margin-left: 100px;
//     width: 60%;
//     h1{
//       font-size: 3.3rem;
//     }
//     p{
//       font-size: 4rem;
//       line-height: 6.1rem;
//     }
//   }

//   .vision_2-content{
//     margin-left: 100px;
//     width: 60%;
//     h1{
//       font-size: 3.3rem;
//     }
//     p{
//       font-size: 3.7rem;
//       line-height: 5rem;
//     }
//   }

//   .vision_3-content{
//     margin-left: 100px;
//     width: 60%;
//     h1{
//       font-size: 3.3rem;
//     }
//     p{
//       font-size: 4rem;
//       line-height: 6.1rem;
//     }
//   }

// }


// @media(max-width: '786px') {
//   .vision__content{
//     margin-left: 60px;
//     margin-bottom: 40px;
//     width: 60%;
//     h1{
//       font-size: 3.1rem;
//     }
//     p{
//       font-size: 3.2rem;
//       line-height: 6.1rem;
//     }
//   }

//   .vision_2-content{
//     margin-left: 100px;
//     width: 60%;
//     h1{
//       font-size: 3.1rem;
//     }
//     p{
//       font-size: 3.2rem;
//       line-height: 5rem;
//     }
//   }

//   .vision_3-content{
//     margin-left: 100px;
//     width: 60%;
//     h1{
//       font-size: 3.1rem;
//     }
//     p{
//       font-size: 3.2rem;
//       line-height: 6.1rem;
//     }
//   }

// }

// @media(max-width: '666px') {
//   .vision__content{
//     margin-left: 30px;
//     margin-bottom: 0;
//     width: 70%;
//     h1{
//       font-size: 2.8rem;
//     }
//     p{
//       font-size: 2.8rem;
//       line-height: 5.3rem;
//     }
//   }

//   .vision_2-content{
//     margin-left: 30px;
//     width: 70%;
//     h1{
//       font-size: 3.1rem;
//     }
//     p{
//       font-size: 2.8rem;
//       line-height: 4rem;
//     }
//   }

//   .vision_3-content{
//     margin-left: 30px;
//     width: 70%;
//     h1{
//       font-size: 2.8rem;
//     }
//     p{
//       font-size: 2.8rem;
//       line-height: 5rem;
//     }
//   }

// }


// @media(max-width: '426px') {
//   .vision__content{
//     margin-left: 30px;
//     margin-bottom: 0;
//     width: 70%;
//     h1{
//       font-size: 2.8rem;
//     }
//     p{
//       font-size: 2.8rem;
//       line-height: 4rem;
//     }
//   }

//   .vision_2-content{
//     margin-left: 30px;
//     width: 70%;
//     h1{
//       font-size: 2.8rem;
//     }
//     p{
//       font-size: 2.5rem;
//       line-height: 4rem;
//     }
//   }

//   .vision_3-content{
//     margin-left: 30px;
//     width: 80%;
//     h1{
//       font-size: 2.8rem;
//     }
//     p{
//       font-size: 2.7rem;
//       line-height: 4rem;
//       margin-top: 20px;
//     }
//   }

// }

// @media(max-width: '394px') {
//   .vision__content{
//     margin-left: 30px;
//     margin-bottom: 0;
//     width: 70%;
//     h1{
//       font-size: 2.8rem;
//     }
//     p{
//       font-size: 2.4rem;
//       line-height: 4rem;
//     }
//   }

//   .vision_2-content{
//     margin-left: 30px;
//     width: 70%;
//     h1{
//       font-size: 2.8rem;
//     }
//     p{
//       font-size: 2.1rem;
//       line-height: 3.5rem;
//       margin-top: 20px;
//     }
//   }

//   .vision_3-content{
//     margin-left: 30px;
//     width: 80%;
//     h1{
//       font-size: 2.8rem;
//     }
//     p{
//       font-size: 2.7rem;
//       line-height: 4rem;
//       margin-top: 20px;
//     }
//   }

// }

// @media(max-width: '360px') {
//   .vision__content{
//     margin-left: 30px;
//     margin-bottom: 0;
//     width: 70%;
//     h1{
//       font-size: 2.8rem;
//     }
//     p{
//       font-size: 2.3rem;
//       line-height: 4rem;
//     }
//   }

//   .vision_2-content{
//     margin-left: 30px;
//     width: 70%;
//     h1{
//       font-size: 2.8rem;
//     }
//     p{
//       font-size: 2rem;
//       line-height: 3rem;
//     }
//   }

//   .vision_3-content{
//     margin-left: 30px;
//     width: 80%;
//     h1{
//       font-size: 2.8rem;
//     }
//     p{
//       font-size: 2.7rem;
//       line-height: 4rem;
//       margin-top: 20px;
//     }
//   }

// }

