<app-navbar></app-navbar>
<section class="vision">
  <div class="vision__content">
    <h1>Our Vision</h1>
    <p> We believe no AFRICAN should die because of a shortage of critical supplies.
      I, TEMIE, believe death from postpartum haemorrhage is absolutely unacceptable.</p>
      <p>We believe that 9 out of 10 women who die from postpartum haemorrhage could have been saved with easy
        access to blood.
        Lack of oxygen kills about 177,000 children every year.
        1.5 million children around the world die annually from vaccine preventable illness globally</p>
        <p>
          Critically ill people with chronic conditions like cancer, sickle cell, diabetes, kidney problems need consistent
          access to critical supplies
        </p>
        <p>LifeBank is committed to solving this.</p>
  </div>
</section>
<app-footer></app-footer>

