@import '../../../../global/abstract/variables';

.notification {
  border: 1px solid #B70303;
  padding: 10px;
  justify-content: space-around;
  text-align: center;
  position: relative;
  background-color: #B70303;
  color: white;
  p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
  }
  svg{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
    fill: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

@media(max-width: '777px') {
  .notification {
    p {
      font-size: 17px;
    }
  }
}

@media(max-width: '610px') {
  .notification {
    min-height: 54px;
    position: relative;
    p {
      position: absolute;
      top: 10%;
      left: 70px;
      text-align: center;
      font-size: 15px;
    }
  }
}
