<app-navbar></app-navbar>

<section class="header">
  <div class="header__content">
    <h1>Fulfillment Lead</h1>
    <p>Job Locations: Lagos</p>
  </div>
</section>

<section class="description">
  <div class="description__content">
    <p>
      LifeBank is on a mission to save a million lives through ensuring adequate blood supplies, helping hospitals discover essential medical products, and delivering these products on time and in the right condition.
    </p>
    <h1>Position Description</h1>
    <p>The Operations Lead will be responsible for the day-to-day operations of LifeBank. S/he will be expected to provide oversight to the fulfillment team and ensure LifeBank products are delivered faster and in the right condition. </p>
    <h1>Key Responsibilities</h1>
    <ul>
      <li>Provide oversight of the fulfillment and customer service units. </li>
      <li>Establish priorities and sequences for the ordering, processing and dispatching of customer requests</li>
      <li>Develop, implement and monitor local processes that are necessary to meet transportation and supply services requirements.</li>
      <li>Plan and organize tasks and resources to achieve strategic goals and objectives.</li>
      <li>Improve operational systems, processes and policies in alignment with the company’s mission -- specifically, support better management reporting, information flow, business process and organizational planning. </li>
      <li>Review operating reports and resolve operational, and maintenance problems to ensure minimum costs and prevent operational delays.</li>
      <li>Monitor, develop and revise standard operational procedures and work practices in accordance with regulatory and organizational standards.</li>
      <li>Help analyze current operations and make recommendations on ways to improve</li>
      <li>Perform other managerial duties as assigned</li>
      <li>Manage supplier relationships</li>
      <li>Fully automate fulfillment process </li>
    </ul>
    <div class="job__requirement">
      <h1>requirement</h1>
      <h3>BSC or MSC in </h3>
      <ul>
        <li>Business Management</li>
        <li>Project Management</li>
        <li>Science-related courses</li>
      </ul>
      <h3>Experience</h3>
      <ul>
        <li>3-4 years similar experience in leadership level in the healthcare, logistics, pharmaceutical or medical device industries.</li>
      </ul>
      <h3>Skills and Ability</h3>
      <ul>
        <li>Ability to multitask</li>
        <li>Result-oriented team player with exceptional motivation and interpersonal skills.</li>
        <li>Good written and verbal communication skills.</li>
        <li>High proficiency in MS Office Suite.</li>
        <li>Must be able to prepare management reports and correspondence.</li>
        <li>Good leadership, stress and time management skills.</li>
      </ul>
      <h3>Personal Attributes</h3>
      <ul>
        <li>Have a deep desire to work in the start-up industry</li>
        <li>Technology industry awareness.</li>
        <li>Highly organized and detailed</li>
        <li>Passion for people.</li>
        <li>Very tech-savvy and knowledgeable of current trends.</li>
        <li>Loves to fix things.</li>
      </ul>
      <h3>Work Environment</h3>
      <ul>
        <li>Work in the office
        </li>
        <li>Required to work overtime, on weekends.
        </li>
        <li>Will be required to travel</li>
      </ul>
      <h3>Report Relationship</h3>
        <ul>
          <li>Will Report to the Country Manager</li>
        </ul>
      <h3>How to Apply</h3>
      <p>To apply for this job, kindly send your C.V and necessary documents to <a href="mailto:team@lifebank.ng?Subject=Applicaction%20for%20Chief%20Finance%20Officer">team@lifebank.ng</a></p>
    </div>
  </div>
</section>

<app-footer></app-footer>
