<app-navbar></app-navbar>
<div class="full-body">
<div>
<section class="hero">
  <div class="hero__content">
    <h1>Saving Lives is in our DNA</h1>
    <p>We are deeply committed to helping the most vulnerable members of our community.</p>
    <button (click)="openContact()">Leave a message</button>
  </div>
</section>

  <section class="product">
    <div class="product__container">
      <div class="product__text">
        <h1>Lives Saved</h1>
        <p>Since we launched in 2016, we have rescued thousands of people and counting. We help women in childbirth, children with malaria and or pneumonia, sickle cell patients and people with chronic and emergency conditions.</p>
        <button (click)="openDialog()" >Save a Life</button>
      </div>
      <div class="product__image eliminate__image four-box-image">
        <img src="../../assets/images/mother-child-impact.jpg" alt="career image">
      </div>
    </div>
  </section>

  <section class="product">
    <div class="product__container">
      <div class="product__image eliminate__image four-box-image">
        <img src="../../assets/images/community.jpg" alt="career image">
      </div>
      <div class="product__text">
        <h1>Communities Helped</h1>
        <p>We believe in universal access to healthcare and that poverty should not be a barrier to it. Thus, we work to ensure that in all communities critical medical supplies are readily available. BOAT by LifeBank exemplifies our commitment as it helps low-income and vulnerable Africans by providing deeply subsidizing, or absolutely free access to blood and oxygen. </p>
        <button (click)="openDialog()">Help a Community</button>
      </div>
    </div>
  </section>

  <section class="product">
    <div class="product__container">
      <div class="product__text">
        <h1>Jobs Created</h1>
        <p>Poverty is a human rights issue and jobs are a path to reducing poverty. We work with local communities to provide training and experience to vulnerable citizens thereby improving their livelihoods. We improve prosperity for our communities by creating expertise in our blood riders, moving them from Okada (bike) guys, to Expert Medical Dispatch Riders with better pay and job satisfaction.</p>
        <button (click)="openDialog()">Train a Rider</button>
      </div>
      <div class="product__image eliminate__image four-box-image">
        <img src="../../assets/images/rider.jpg" alt="career image">
      </div>
    </div>
  </section>

  <section class="product">
    <div class="product__container">
      <div class="product__image four-box-image">
        <img src="../../assets/images/sdgs.png" alt="career image">
      </div>
      <div class="product__text">
        <h1>Our SDG Focus</h1>
        <p>SDG 1 - We strive to reduce the poverty rate due to the unexpected high cost of healthcare.</p>
        <p>SDG 3 - Our core services - discovery and delivery of critical supplies ensures that everyone has access to good health and improved well being.</p>
        <p>SDG 8 - We are a tool in the provision of full and productive employment, and decent work, for all.</p>
        <p>SDG 9 - At LifeBank, we strive to provide sustainable innovative solutions to problems in Africa's healthcare industry using technology. </p>
        <button (click)="openDialog()">Support our work</button>
      </div>
    </div>
  </section>
<!-- <app-footer></app-footer> -->
</div>
</div>
