<app-navbar></app-navbar>
<section class="impact">
  <div class="impact__content">
    <h1>Our Impact</h1>
    <p>  Impact is in our DNA as we are building the business of saving lives.
      We are committed to creating a distribution engine to transform health supply chain across the developing world.
      We are building technologies and delivery systems in order to sustainably reach every patient in every area, in
      every way, whatever it takes.
      Our goal is to provide universal access to everyone in emerging economies, regardless of their income.
      We provide over 30 million people and counting access to critical supplies, since 2016, when we launched and
      saved over 8,000 lives. </p>
  </div>
</section>
<app-footer></app-footer>
