@import '../../global/abstract/variables';

.header {
  height: 150px;
  background-color: $LifeBankred;

  &__content {
    padding-top: 50px;
    width: 20%;
    margin: 0 auto;
    color: white;

    h1 {
      font-size: 30px;
      font-family: 'Crimson Text', serif;
      text-align: center;
    }
    p {
      font-size: 20px;
      font-family: 'Crimson Text', serif;
      text-align: center;
    }
  }
}

.description {
  margin-top: 50px;

  &__content {
    width: 50%;
    margin: 0 auto;

    p {
      font-family: 'Crimson Text', serif;
      font-size: 1.9rem;
      margin-bottom: 30px;
    }
    h1 {
      font-size: 2.3rem;
      margin-bottom: 30px;
      font-family: 'Crimson Text', serif;
    }
    ul {
      li {
        font-size: 1.9rem;
        font-family: 'Crimson Text', serif;
      }
    }
  }
}
.job__requirement {
  h1 {
    font-size: 2.3rem;
    margin-bottom: 10px;
    font-family: 'Crimson Text', serif;
    text-transform: uppercase;
    margin-top: 20px;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Crimson Text', serif;
    margin-top: 20px;
  }
}
