@import '../../../../global/abstract/variables';

.footer {
  padding: 20px 0;
  background-color: $LifeBankred;
  color: white;
  width: 100%;
  &__content {
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 50px;
    padding: 0 70px;
    p {
      text-align: center;
      font-size: 2.3rem;
      width: 60%;
    }
    div {
      display: flex;
      justify-content: center;
    }
  }
}
.footer__social {
  text-align: center;

  span {
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    padding: 8px 0;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1440px) {
  .footer {
    p {
      font-size: 1.7rem;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .footer {
    p {
      font-size: 1.7rem;
    }
  }
}


@media only screen and (max-width: 1092px) {
  .footer__content {
    width: 100%;
    margin-left: 5px;
    flex-wrap: wrap;
    padding: 0 20px;

    p {
      width: 100%;
      margin-top: 20px;
    }
  }
  .footer__social {
    margin-top: 30px;
    width: 100%;
  }
}


// @media only screen and  (max-width: 450px) {
//   .footer{
//     font-size:10px !important;
//   }
//   .footer-upper-text{
//     font-size:15px !important;
//   }

//   .footer {
//     padding: 5px;
//     background-color: $LifeBankred;
//     color: white;
//     &__content {
//       width: 80%;
//       margin: auto;
//       p {
//         text-align: center;
//         // font-size: 2.3rem;
//       }
//       div {
//         display: flex;
//         justify-content: center;
//       }
//     }
//   }
//   .footer__social {
//     margin-top: 15px !important;
//     text-align: center;
//     width:40%;
//     margin:auto;

//     span {
//       border: 2px solid $LifeBankred;
//       // border:2px solid white;
//       width: 50px;
//       height: 30px;
//       border-radius: 50%;
//       display: block;
//       padding: 8px 0;
//       margin-right: 20px;
//     }
//   }
//   .footer__quote {
//     margin-top: 15px;
//   }
// }
