<app-navbar></app-navbar>
<section class="hero">
  <div class="hero__content">
    <h1>Our Innovation</h1>
    <p>We are constantly innovating around the medical supply chain</p>
  </div>
</section>

  <section class="product">
    <div class="product__container">
      <div class="product__text">
        <h1 style="color: red; font-family: 'Crimson Text', serif; letter-spacing: 0.5rem;">01</h1>
        <h1>SmartBag</h1>
        <p>SmartBag is a blockchain-powered product that helps patients and health providers discover the safety records of blood and blood products. Information about the processes involved in blood supply is recorded on a blockchain, preserving its integrity. When scanned, the SmartBag gives hospitals access to all the details about the donation, collection, screening, storage, and delivery procedures involved in the blood and blood components transfused into their patients.</p>
      </div>
      <div class="product__image">
        <img src="../../assets/images/SmartBag.JPG" alt="career image">
      </div>
    </div>
  </section>

  <section class="product">
    <div class="product__container">
      <div class="product__image">
        <img src="../../assets/images/StockBank.png" alt="career image">
      </div>
      <div class="product__text">
        <h1 style="color: red; font-family: 'Crimson Text', serif; letter-spacing: 0.5rem;">02</h1>
        <h1>StockBank</h1>
        <p> An innovation that uses inventory management technology combined with artificial intelligence to prevent medical supplies stock-outs at hospitals.</p>
      </div>
    </div>
  </section>

  <section class="product" id="desktop">
    <div class="product__container">
      <div class="product__text">
        <h1 style="color: red; font-family: 'Crimson Text', serif; letter-spacing: 0.5rem;">03</h1>
        <h1>BOAT By LifeBank</h1>
        <p>Blood and Oxygen Access Trust is a fund created to supply critical supplies like blood, oxygen and medications for the treatment of low-income patients who need it but cannot afford it.</p>
      </div>
      <div class="product__image">
        <img src="../../assets/images/boat1.png" alt="career image">
      </div>
    </div>
  </section>

  <section class="product" id="desktop">
    <div class="product__container">
      <div class="product__image">
        <img src="../../assets/images/Quip-By-LifeBAnk.png" alt="career image">
      </div>
      <div class="product__text">
        <h1 style="color: red; font-family: 'Crimson Text', serif; letter-spacing: 0.5rem;">04</h1>
        <h1>Quip</h1>
        <p> A national asset register that makes critical equipment (respirators, ventilators, ICU beds) for treatment and management of Covid19 available to hospitals.</p>
      </div>
    </div>
  </section>

  <section class="product" id="desktop">
    <div class="product__container">
      <div class="product__text">
        <h1 style="color: red; font-family: 'Crimson Text', serif; letter-spacing: 0.5rem;">05</h1>
        <h1>AirBank</h1>
        <p>A LifeBank product that helps hospitals discover and deliver on-demand emergency and scheduled medical oxygen in the quickest, most convenient and most cost-effective way to reduce Nigeria’s child mortality caused by limited access to oxygen.</p>
      </div>
      <div class="product__image">
        <img src="../../assets/images/Airbank delivcery (1).png" alt="career image">
      </div>
    </div>
  </section>

  <section class="product" id="desktop">
    <div class="product__container">
      <div class="product__image">
        <img src="../../assets/images/home-kit.png" alt="career image">
      </div>
      <div class="product__text">
        <h1 style="color: red; font-family: 'Crimson Text', serif; letter-spacing: 0.5rem;">06</h1>
        <h1>Home Sample Collection Kit</h1>
        <p>
          An easy-to-use guidance system for individuals to collect nasal and oral swab samples used for the COVID-19 RT-PCR Screening Test. The samples are picked up and delivered via our contactless distribution network system.
        </p>
      </div>
    </div>
  </section>

  <section class="product" id="desktop">
    <div class="product__container">
      <div class="product__text">
        <h1 style="color: red; font-family: 'Crimson Text', serif; letter-spacing: 0.5rem;">07</h1>
        <h1>LabX</h1>
        <p>
          An essential medical product discovery web application that provides real-time information about the availability of medical supplies to hospitals.
        </p>
      </div>
      <div class="product__image">
        <img src="../../assets/images/LabX-dashboard.png" alt="career image">
      </div>
    </div>
  </section>

  <section class="product" id="desktop">
    <div class="product__container">
      <div class="product__image">
        <img src="../../assets/images/BankX.png" alt="career image">
      </div>
      <div class="product__text">
        <h1 style="color: red; font-family: 'Crimson Text', serif; letter-spacing: 0.5rem;">08</h1>
        <h1>BankX</h1>
        <p>
          An essential medical product discovery web application that collates inventory available information from all suppliers.
        </p>
      </div>
    </div>
  </section>

  <section class="product" id="desktop">
    <div class="product__container">
      <div class="product__text">
        <h1 style="color: red; font-family: 'Crimson Text', serif; letter-spacing: 0.5rem;">09</h1>
        <h1>DonorX</h1>
        <p>
          A web based application that allows donors to book donation appointment at blood banks closest to them.
        </p>
      </div>
      <div class="product__image">
        <img src="../../assets/images/DonorX.png" alt="career image">
      </div>
    </div>
  </section>

  <section class="product" id="desktop">
    <div class="product__container">
      <div class="product__image">
        <img src="../../assets/images/keke.jpg" alt="career image">
      </div>
      <div class="product__text">
        <h1 style="color: red; font-family: 'Crimson Text', serif; letter-spacing: 0.5rem;">10</h1>
        <h1>LabBank</h1>
        <p>
          A LifeBank innovation that provides patients with a contactless drop-off and pick-up distribution system. This innovation is focused on reducing contact between the dispatch and the patients.
        </p>
      </div>
    </div>
  </section>

  <section class="product" id="desktop">
    <div class="product__container">
      <div class="product__text">
        <h1 style="color: red; font-family: 'Crimson Text', serif; letter-spacing: 0.5rem;">11</h1>
        <h1>AirX</h1>
        <p>
          A digital platform for Ministries of health to manage oxygen demand across systems.
        </p>
      </div>
      <div class="product__image">
        <img src="../../assets/images/AirX-2.png" alt="career image">
      </div>
    </div>
  </section>
<app-footer></app-footer>


