<app-navbar></app-navbar>
<div class="innovation-body">
  <div>
<section class="hero">
  <div class="hero__content">
    <h1>Revolutionalising Africa’s HealthCare </h1>
    <p>We believe all problems can be solved. We know technology enables the curious, the bold, and the builders to create magic. Our innovations help us break barriers and build a more just world! </p>
  </div>
</section>

  <section class="product">
    <div class="product__container">
      <div class="product__text">
        <h1>SmartBag - Safe Blood Always </h1>
        <p>SmartBag is a blockchain-powered product that helps patients and health providers discover the safety records of blood and blood products. Information about the processes involved in blood supply is recorded on a blockchain, preserving its integrity.</p>
        <a>Learn More</a>
      </div>
      <div class="product__image">
        <img src="../../assets/images/smarttt.png" alt="career image">
      </div>
    </div>
  </section>

  <section class="product" id="desktop">
    <div class="product__container">
      <div class="product__image">
        <img src="../../assets/images/boatttt.jpg" alt="career image">
      </div>
      <div class="product__text">
        <h1>BOAT by LifeBank - Universal Access for All</h1>
        <p>Blood and Oxygen Access Trust is a fund created to supply critical supplies like blood, oxygen and medications for the treatment of low-income patients who need it but cannot afford it.</p>
        <a>Learn More</a>
      </div>
    </div>
  </section>

  <section class="product" id="desktop">
    <div class="product__container">
      <div class="product__text">
        <h1>Home Kit - COVID-19 Test at Home!</h1>
        <p>
          An easy-to-use guidance system for individuals to collect nasal and oral swab samples used for the COVID-19 RT-PCR Screening Test. The samples are picked up and delivered via our contactless distribution network system.
        </p>
        <a>Learn More</a>
      </div>
      <div class="product__image">
        <img src="../../assets/images/covid-kit.png" alt="career image">
      </div>
    </div>
  </section>

  <section class="product" id="desktop">
    <div class="product__container">
      <div class="product__image">
        <img src="../../assets/images/DonorX.png" alt="career image">
      </div>
      <div class="product__text">
        <h1>DonorX - Blood Donation Made Easy</h1>
        <p>
          A web based application that allows donors to book donation appointment at blood banks closest to them.
        </p>
        <a>Learn More</a>
      </div>
    </div>
  </section>
</div>
</div>
<app-footer></app-footer>


