@import '../abstract/variables';

.btn {
  background-color: $LifeBankred;
  padding: 15px 25px;
  color: white;
  border-radius: 50px;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}
