<app-navbar></app-navbar>

<section class="hero">
  <div class="hero__content">
    <div class="hero__content-text">
      <h1>Find critical supplies you need round the clock, faster, cheaper, and safer.</h1>
      <button (click)= "openDialog()">Book a demo</button>
    </div>
  </div>
</section>

<section class="product">
  <div class="product__container">
    <div class="product__text">
      <h1>Faster</h1>
      <p>LifeBank is faster because you can discover all critical supplies on our platform in just 5 minutes. We deliver the order to the hospital in under 45 minutes.</p>
    </div>
    <div class="product__image">
      <img src="../../assets/images/drone-with-blue.jpg" alt="career image">
    </div>
  </div>
</section>

<section class="product">
  <div class="product__container">
    <div class="product__image">
      <img src="../../assets/images/hosp__savings.jpg" alt="career image">
    </div>
    <div class="product__text">
      <h1>Cheaper</h1>
      <p>On LifeBank, oxygen, blood and blood products are cheaper because you have access to manufacturers and Lab-to-Lab prices respectively. On our platform, blood banks and oxygen manufacturers are competing for your business and this competition lowers the prices. With LifeBank, you are getting the best value for your money.</p>
    </div>
  </div>
</section>

<section class="product">
  <div class="product__container">
    <div class="product__text">
      <h1>Safer</h1>
      <p>We are safer because we move blood in a WHO recommended cold chain system. Our use of temperature strips, fail-proof blood box, and bluetooth padlock ensures the security of your products. Our cold chain system allows us to move blood at 10&deg;C threshold for up to 36 hours. While oxygen is transported properly in safety-compliant vehicles designed to preserve the oxygen and prevent a fire outbreak.</p>
    </div>
    <div class="product__image">
      <img src="../../assets/images/cold-chain.jpg" alt="career image">
    </div>
  </div>
</section>

<section class="product">
  <div class="product__container">
    <div class="product__image">
      <img src="../../assets/images/call-center.jpeg" alt="career image">
    </div>
    <div class="product__text">
      <h1>24 Hours Service</h1>
      <p> LifeBank offers 24 hours service for all hospitals in our network, and we are able to provide access to safe blood in the event of an emergency or non-availability of a rare blood type.</p>
    </div>
  </div>
</section>

<section class="demo">
  <div class="demo__content">
    <p> We use the power of technology to inspire voluntary blood donors, we gather inventory from oxygen manufacturers, blood banks and other supplier partners across the country and we facilitate the safe and rapid transportation of critical products right to your hospital.</p>
    <button (click)= "openDialog()">Book a Demo</button>
  </div>
</section>
<hr>
<app-footer></app-footer>

