<app-navbar></app-navbar>

<section class="hero">
  <div class="hero__content">
    <h1>Find critical supplies you need round the clock, faster, cheaper and safer.</h1>
    <p>With LifeBank you can always get the critical supplies needed in less than 45 minutes.</p>
    <p>Our B2B business model charges a logistics fee on a sliding scale which averages approximately $10 per unit delivered.</p>
    <p>Our B2G business model charges governments and institutions an annual subscription fee to supply hospitals they manage with essential medical products.</p>
  </div>
</section>

<section class="product">
  <div class="product__container">
    <div class="product__text">
      <h1>Eliminate the risk of counterfeit product</h1>
      <p>Blood is often transported without a cold chain, leaving it vulnerable to bacteria proliferation which can result in serious health complications when transfused.</p>
      <p>With LifeBank you are assured of optimum products. We comply with WHO/EU coldchain and safety standards.</p>
      <p>One of our innovations, SmartBag, tracks and ensures the safety record of blood through our logistical network.</p>
      <p>We pay close attention to maintaining optimum condition of oxygen and preventing a fire outbreak during transportation through our logistical network</p>
    </div>
    <div class="product__image">
      <img src="../../assets/images/eliminate.png" alt="career image">
    </div>
  </div>
</section>

<section class="product">
  <div class="product__container">
    <div class="product__image">
      <img src="../../assets/images/values.jpeg" alt="career image">
    </div>
    <div class="product__text">
      <h1>No more hour or day long searching for products</h1>
      <p>Our systems address problems relating to accessibility by collating inventory information from thousands of medical suppliers using a        combination of mobile and web applications. </p>
      <p>We seamlessly transmit information gathered to busy hospitals via our discovery applications and ensure that products ordered by hospitals are delivered in under 45 minutes, in the right condition.</p>
      <p>Our mobility solutions are designed to reach you as fast as possible, wherever you are, no matter how difficult it
        may be.</p>
    </div>
  </div>
</section>

<section class="gap">
  <div class="gap__content">
    <h1> Let us bridge the gap for you</h1>
    <p>We are always available 24/7 to get you what you need at affordable prices.</p>
    <p>LifeBank is on a mission to increase access to essential medical products at hospital level for the vulnerable.</p>
    <p>We strive to build a sustainable, state of the art, high quality, distribution platform, powered by technology and innovation</p>
    <a [routerLink] = "['/contact']" class="btn-link">Contact Us</a>
  </div>
</section>

<app-footer></app-footer>

