<h2 mat-dialog-title>Join Us</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Org Name</mat-label>
      <input matInput placeholder="Org Name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select an option</mat-label>
      <mat-select>
        <mat-option>None</mat-option>
        <mat-option value="option1">BOATbyLifeBank</mat-option>
        <mat-option value="option2">Donor Rewards</mat-option>
        <mat-option value="option3">COVID-19 Relief Initiatives</mat-option>
        <mat-option value="option3">QUIP</mat-option>
      </mat-select>
    </mat-form-field>

    <button class="btn">Send</button>
</form>
</mat-dialog-content>
