<h2 mat-dialog-title>Book a demo</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Hospital Name</mat-label>
      <input matInput placeholder="Hospital Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Number of Bed</mat-label>
      <input matInput placeholder="Number of Bed">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estimated monthly need of blood</mat-label>
      <input matInput placeholder="Estimated monthly need of blood">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estimated monthly need of oxygen</mat-label>
      <input matInput placeholder="Estimated monthly need of oxygen">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Monthly budget for consumables</mat-label>
      <input matInput placeholder="Monthly budget for consumables">
    </mat-form-field>

    <button class="btn">Book</button>
</form>
</mat-dialog-content>
