<h2 mat-dialog-title>Book a demo</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Hospital Name</mat-label>
      <input matInput placeholder="Hospital Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Number of Bed</mat-label>
      <input matInput placeholder="Number of Bed">
    </mat-form-field>

    <section class="example-section">
      <mat-radio-group class="btn-stuff">
          <mat-radio-button class="example-margin btn1" value="lifeBank">LifeBank</mat-radio-button>
          <mat-radio-button class="example-margin" value="airBank">AirBank</mat-radio-button>
        <mat-radio-button class="example-margin" value="labBank">LabBank</mat-radio-button>
        <mat-radio-button class="example-margin" value="stockBank">StockBank</mat-radio-button>
      </mat-radio-group>
    </section>
    <button class="btn btn-book">Book</button>
</form>
</mat-dialog-content>
