<div fullpage id="fullpage" [options]="config" #fullpageRef>
    <section class="section container">
        <div class="nav">
          <app-navbar></app-navbar>
        </div>
        <div class="header">
        <div class="header__content">
              <div class="header__text">
                <div class="header__text-first">
                  <h1>
                    Our Business is Saving Lives.
                  </h1>
                  <p>
                    We deliver critical medical supplies round the clock to busy hospital teams across africa using technology and a
                    multi-modal distribution network.
                  </p>
                  <a class="btn-link" [routerLink] = "['/hospitals']">Start Here</a>
              </div>
                <div class="header__trusted">
                  <p>Trusted by over 500+ hospitals in Nigeria</p>
                  <div class="header__trusted-img">
                    <img src="../../assets/images/marchant_1.png" alt="">
                    <img src="../../assets/images/marchant_2.png" alt="">
                    <img src="../../assets/images/3.png" alt="" id="mobile">
                    <img src="../../assets/images/4-1.png" alt="" id="mobile">
                  </div>
                </div>
              </div>
              <div class="header__img">
                <img src="../../assets/images/map2.jpg" alt="" srcset="">
              </div>
          </div>
        </div>
      <div class="color__links">
        <div class="color__red">
          <div id="lifebank">
            <p>Safer, Faster, Chepear delivery of blood and blood products.</p>
            <a [routerLink]="['/hospitals']">LifeBank</a>
          </div>
        </div>
        <div class="color__blue">
          <div id="air">
            <p>On-demand emergency/scheduled delivery of medical oxygen.</p>
            <a [routerLink]="['/innovation']">AirBank</a>
          </div>
        </div>
        <div class="color__orange">
          <div id="quip">
            <p>Contactless pick up and drop off distribution model for medical samples.</p>
            <a href="http://home-kit.lifebank.ng/" target="_blank">LabBank</a>
          </div>
        </div>
        <div class="color__green">
          <div id="stock">
            <p>Structured access to limited medical consumables and Personal Protective Equipment (PPE).</p>
            <a [routerLink]="['/innovation']">StockBank</a>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="section section-one">
      <div class="slide values">
        <div class="values__content">
          <h1>THIS IS LIFEBANK</h1>
          <p>We believe no African should die because of the shortage of medical supplies.</p>
          <p>LifeBank is committed to rescuing women, children and other vulnerable people through ensuring access to blood, oxygen, vaccines and other critical supplies.</p>
          <button class="btn-link">Learn More</button>
        </div>
    </div>
    <div class="slide delivery">
      <div class="delivery__content">
        <h1>Multi-Modal Delivery Network</h1>
        <p>We deliver using bikes, boats, drones, contactless pick up and delivery maruwa and trucks.</p>
        <p>We bring flexibility and cost savings to our distribution network to deliver faster, safer and cheaper to every patient all the time.</p>
        <button class="btn-link">Learn More</button>
      </div>
  </div>
  <div class="slide technology">
    <div class="technology__content">
      <h1>Our Tech</h1>
      <p>We are building technology to improve blood safety, access and affordability of essential supplies. We combine accessible technology with deep tech to build tools that ensure universal access.</p>
      <button class="btn-link">Learn More</button>
    </div>
</div>
</section> -->

    <section class="patient section section-three">
      <div class="patient__content">
        <h1>For our patients</h1>
        <p>We deliver critical medical supplies faster, cheaper, and safer to our patients and bring efficiency to our hospital partners.</p>
        <!-- <div class="header__trusted" style="margin-top: 50px;">
          <p style="font-size: 2.5rem;">Trusted by these health systems:</p>
          <div class="header__trusted-img">
            <img src="../../assets/images/marchant_1.png" alt="">
            <img src="../../assets/images/marchant_2.png" alt="">
            <img src="../../assets/images/marchant_3.png" alt="">
            <img src="../../assets/images/4-1.png" alt="">
          </div>
        </div> -->
        <a class="btn-link" [routerLink]="['/hospitals']">Learn More</a>
      </div>
    </section>

    <section class="partner section section-four easing">
      <div class="partner__content">
        <h1>For our partners</h1>
        <p>We impact vulnerable communities in urban, peri-urban, and rural Africa by delivering to the very last mile. We are the infrastructure for Africa’s health system.</p>
        <a class="btn-link" [routerLink]="['/impact']">Learn More</a>
      </div>
    </section>

    <section class="people section section-four easing">
      <div class="people__content">
        <h1>For our people</h1>
        <p>At LifeBank, we are builders. We are a team committed to creating an agile distribution system to power healthcare across Africa. Join our team.</p>
        <a class="btn-link" [routerLink]="['/careers']">Learn More</a>
      </div>
    </section>

  <section class="section fp-auto-height">
    <div class="value">
      <div class="value__content">
        <h1>Faster, Cheaper, Safer</h1>
        <p>We are on a mission to save lives across Africa through the delivery of blood, oxygen, rare drugs and supplies, and vaccines regardless of location or timing. We are on a mission to save as many lives as quickly as we can.</p>
        <a [routerLink]="['/hospitals']">Join Us</a>
      </div>
    </div>
  </section>
  <section class="section fp-auto-height">
    <div class="achievement">
      <h1>Our Achievements</h1>
      <div class="achievement__container">
        <div class="achievement__card">
          <h1>{{productMoved}}</h1>
          <p>Products Moved</p>
        </div>
        <div class="achievement__card">
          <h1>{{hospitalServed}}</h1>
          <p>Hospital Served</p>
        </div>
        <div class="achievement__card">
          <h1>{{countries}}</h1>
          <p>African Countries</p>
        </div>
        <div class="achievement__card">
          <h1>{{saved}}</h1>
          <p>Lives saved</p>
        </div>
      </div>
    </div>
    </section>

    <section class="section fp-auto-height">
    <div class="award">
      <div class="award__content">
        <h1>LifeBank has won several awards</h1>
        <a href="https://www.cartierwomensinitiative.com/candidate/temie-giwa-tubosun" target="_blank">Cartier 2020 Women's Initiative Sub-Saharan Africa Laureate
        </a>
        <a href="https://www.alizila.com/nigerias-lifebank-wins-first-africa-netpreneur-prize/" target="_blank">African Netpreneur Prize Initiative Award by Jack Ma</a>
        <a href="https://www.jnj.com/johnson-johnson-announces-six-winners-of-the-champions-of-science-africa-innovation-challenge-2-0-at-the-28th-world-economic-forum-on-africa" target="_blank">Johnson and Johnson Science Africa Innovation Challenge 2.0 Award </a>
        <a href="https://solve.mit.edu/challenges/frontlines-of-health/solutions/4898" target="_blank">2018 MIT Solve Health Challenge</a>
        <a href="https://techcrunch.com/2018/07/12/announcing-the-tc-top-picks-for-disrupt-sf-2018/" target="_blank">TechCrunch Top Pick at TC Disrupt SF</a>
      </div>
      <div class="award__icon">
        <h1>LifeBank in the news</h1>
        <div class="award__icon-container">
          <div><a target="_blank" href="https://about.google/stories/lifebank/" ><img src="../../assets/images/google.png" alt=""></a></div>
          <div><a target="_blank" href="https://techcrunch.com/2018/07/12/announcing-the-tc-top-picks-for-disrupt-sf-2018/"><img src="../../assets/images/crunch.png" alt=""></a></div>
        </div>
        <div class="award__icon-container">
          <div><a target="_blank" href="https://edition.cnn.com/2019/08/23/africa/lifebank-nigeria-intl/index.html"><img src="../../assets/images/cnn.png" alt=""></a></div>
          <div><a target="_blank" href="https://solve.mit.edu/challenges/frontlines-of-health/solutions/4898"><img src="../../assets/images/mit.png" alt=""></a></div>
        </div>
        <div class="award__icon-container">
          <div><a target="_blank" href="https://guardian.ng/features/health/google-lifebank-partner-to-raise-awareness-on-blood-donation-lessen-delivery-time/"><img src="../../assets/images/guardian.png" alt=""></a></div>
          <div><a target="_blank" href="https://www.bloomberg.com/news/articles/2019-06-11/africa-s-technology-hub-rises-in-a-congested-lagos-neighborhood"><img src="../../assets/images/Bloomberg_grey.png" alt=""></a></div>
        </div>
      </div>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </section>
</div>

