<section class="container">
  <div class="header">
    <div>
      <app-notification></app-notification>
    </div>

    <div>
      <app-navbar></app-navbar>
    </div>

    <div class="header__content">
      <div class="header__text">
        <h1>
          Our Business is Saving Lives.
        </h1>
        <p>
          We work with hospitals round the clock to find lifesaving medical products and we deliver to the hospitals in the right condition across africa.
        </p>
      </div>
      <div class="header__img">
        <img src="../../assets/images/globe_2.png" alt="" srcset="">
      </div>
    </div>
    <div class="header__direction">
      <img src="../../assets/images/direction.png" alt="">
    </div>
  </div>


  <div class="color__links">
    <div class="color__red">
      <div id="air">
        <button>LifeBank</button>
      </div>
    </div>
    <div class="color__orange"></div>
    <div class="color__blue"></div>
    <div class="color__black"></div>
  </div>
</section>
