<div (scroll)="onWindowScroll($event);" fullpage id="fullpage" [options]="config" #fullpageRef>
    <section class="container section easing">
      <div class="header">
        <div >
          <app-notification></app-notification>
        </div>
        <div id="menu">
          <app-navbar></app-navbar>
        </div>
        <div class="header__content">
              <div class="header__text">
                <h1>
                  Our Business is Saving Lives.
                </h1>
                <p>
                  We deliver critical medical supplies round the clock to busy hospital teams across africa using technology and a
                  multi-modal distribution network.
                </p>
                <a class="btn">Start Here</a>
                <div class="header__trusted">
                  <p>Trusted by over 500 hospitals</p>
                  <div class="header__trusted-img">
                    <img src="../../assets/images/marchant_1.png" alt="">
                    <img src="../../assets/images/marchant_2.png" alt="">
                    <img src="../../assets/images/3.png" alt="" id="mobile">
                    <img src="../../assets/images/4-1.png" alt="" id="mobile">
                  </div>
                </div>
              </div>
              <div class="header__img">
                <img src="../../assets/images/map2.jpg" alt="" srcset="">
              </div>
          </div>
        </div>
      <div class="color__links">
        <div class="color__red">
          <div id="lifebank">
            <p>Safer, Faster, Chepear delivery of blood and blood products.</p>
            <button>LifeBank</button>
          </div>
        </div>
        <div class="color__blue">
          <div id="air">
            <p>On-demand emergency/scheduled delivery of medical oxygen.</p>
            <button>AirBank</button>
          </div>
        </div>
        <div class="color__orange">
          <div id="quip">
            <p>Contactless pick up and drop off distribution model for medical samples.</p>
            <button>LabBank</button>
          </div>
        </div>
        <div class="color__green">
          <div id="stock">
            <p>Structured access to limited medical consumables and Personal Protective Equipment (PPE).</p>
            <button>StockBank</button>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="section section-one">
      <div class="slide values">
        <div class="values__content">
          <h1>THIS IS LIFEBANK</h1>
          <p>We believe no African should die because of the shortage of medical supplies.</p>
          <p>LifeBank is committed to rescuing women, children and other vulnerable people through ensuring access to blood, oxygen, vaccines and other critical supplies.</p>
          <button class="btn-link">Learn More</button>
        </div>
    </div>
    <div class="slide delivery">
      <div class="delivery__content">
        <h1>Multi-Modal Delivery Network</h1>
        <p>We deliver using bikes, boats, drones, contactless pick up and delivery maruwa and trucks.</p>
        <p>We bring flexibility and cost savings to our distribution network to deliver faster, safer and cheaper to every patient all the time.</p>
        <button class="btn-link">Learn More</button>
      </div>
  </div>
  <div class="slide technology">
    <div class="technology__content">
      <h1>Our Tech</h1>
      <p>We are building technology to improve blood safety, access and affordability of essential supplies. We combine accessible technology with deep tech to build tools that ensure universal access.</p>
      <button class="btn-link">Learn More</button>
    </div>
</div>
</section> -->

    <section class="patient section section-three easing">
      <div class="patient__content">
        <h1>Patients</h1>
        <p> We deliver critical supplies faster,cheaper and safer to our patients and bring efficiency to our hospitals</p>
        <div class="header__trusted" style="margin-top: 50px;">
          <p style="font-size: 2.5rem;">Trusted by these health systems:</p>
          <div class="header__trusted-img">
            <img src="../../assets/images/marchant_1.png" alt="">
            <img src="../../assets/images/marchant_2.png" alt="">
            <img src="../../assets/images/marchant_3.png" alt="">
            <img src="../../assets/images/4-1.png" alt="">
          </div>
        </div>
        <button class="btn-link">Learn More</button>
      </div>
    </section>

    <section class="partner section section-four easing">
      <div class="partner__content">
        <h1>Partners</h1>
        <p>We impact vulnerable communities in urban , peri-urban and rural Africa by delivering to the very last mile. We have saved over 9,000 lives and counting. We create critical life-saving jobs in the communities where we operate. We are the soft infrastructure for Africa’ health system.</p>
        <button class="btn-link">Learn More</button>
      </div>
    </section>

    <section class="people section section-four easing">
      <div class="people__content">
        <h1>People</h1>
        <p>At LifeBank , we are builders. We build high tech tools and an agile distribution system to power health systems across Africa. </p>
        <p>Join our team and build innovations that drive impact for your community and growth for your career. </p>
        <button class="btn-link">Learn More</button>
      </div>
    </section>

  <section class="award section easing">
    <div class="award__content">
      <h1>LifeBank has won several awards</h1>
      <p>These include the 2018 MIT Solve Health Challenge, Africa’s Top 50 Innovations by the Africa Innovation
        Summit, and TechCrunch Top Pick at TC Disrupt SF, the premiere trade conference in Silicon Valley for
        technology start-ups across the world. We have also received favourable coverage from local, regional and
        international press such as Guardian Nigeria, CNBC Africa, BBC, CNN and The Guardian UK. In June 2019, we
        were featured on the Google Search Page and have a permanent feature on their company’s About page.
        Last year, we won the African Netpreneur Prize Initiative Award by Jack Ma.</p>
    </div>
    <div class="award__icon">
      <div class="award__icon-container">
        <img src="../../assets/images/google.png" alt="">
        <img src="../../assets/images/crunch.png" alt="">
      </div>
      <div class="award__icon-container">
        <img src="../../assets/images/cnn.png" alt="">
        <img src="../../assets/images/mit.png" alt="">

      </div>
      <div class="award__icon-container">
        <img src="../../assets/images/guardian.png" alt="">
        <img src="../../assets/images/bbc.png" alt="">
      </div>
    </div>
  </section>

  <section class="achievement section">
    <h1>Our Achievements</h1>
    <p>We are on a mission to save lives across the globe through the delivery of essential medical products regardless of location or timing. We aim to save as many lives within Sub-Saharan Africa and other developing countries. Be a Part of It!</p>
    <div class="achievement__container">
      <div class="achievement__card">
        <h1>21,900</h1>
        <p>Products Moved</p>
      </div>
      <div class="achievement__card">
        <h1>450</h1>
        <p>Hospital Served</p>
      </div>
      <div class="achievement__card">
        <h1>2</h1>
        <p>African Countries</p>
      </div>
      <div class="achievement__card">
        <h1>5,910</h1>
        <p>Donors</p>
      </div>
      <div class="achievement__card">
        <h1>8,200</h1>
        <p>Life saved</p>
      </div>
    </div>
    <app-footer></app-footer>
  </section>
</div>

