@import '../../global/abstract/variables';
@import '../../global/component/button';
@import'../../global/abstract/_sectionContentAnimation.css';
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
  margin: 20px auto 0 auto;
}
.header__text{
  align-self: center;
  width: 50%;
  h1 {
    font-size: 10rem;
    font-family: 'Crimson Text', serif;
    text-align: left;
    font-weight: bolder;
    animation-name: moveInLeft;
    animation-duration: 2s;
  }
  p {
    text-align: left;
    font-size: 20px;
    margin: 20px 0;
    font-family: 'Crimson Text', serif;
    width: 90%;
    line-height: 30px;
    animation-name: moveInRight;
    animation-duration: 2s;
  }
}
.header__img{
  width: 44%;
  img{
    width: 100%;
    height: 100%;
  }
}
.header__direction{
  width: 2%;
  min-height: 2%;
  margin: -70px auto 0 auto;
  img{
    width: 100%;
    height: 100%;
    animation: direction 1.5s ease-in-out infinite
  }
}

.color__links {
  justify-self: flex-end;
  display: flex;
}
.color__red {
  background-color: $LifeBankred;
  height: 10px;
  width: 25%;
  &:hover > #lifebank {
    visibility: visible;
    animation: slide .6s ease-in-out
  }
}
.color__orange {
  background-color:#B32911;;
  height: 10px;
  width: 25%;
  &:hover > #quip {
    visibility: visible;
    animation: slide .6s ease-in-out
  }
}
.color__blue {
  background-color:$airbankblue;
  height: 10px;
  width: 25%;
  &:hover > #air {
    visibility: visible;
    animation: slide .6s ease-in-out
  }
}
.color__green {
  background-color: $stockbankgreen;
  height: 10px;
  width: 25%;
  &:hover > #stock {
    visibility: visible;
    animation: slide .6s ease-in-out
  }
}


#lifebank{
  background-image: linear-gradient(to right bottom, rgba(black, 0.9), rgba(gray, 0.9)),
             url(../../assets/images/lifebank.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  position: absolute;
  width: 25%;
  top: 0;
  height: 100vh;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  button{
    background-color: transparent;
    padding: 16px 40px;
    border: 1px solid $LifeBankred;
    border-radius: 30px;
    color: white;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 17px;
    outline: none;
  }
}

#quip{
  background-image: linear-gradient(to right bottom, rgba(black, 0.9), rgba(gray, 0.9)),
             url(../../assets/images/lifebank.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  position: absolute;
  width: 25%;
  top: 0;
  height: 100vh;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  button{
    background-color: transparent;
    padding: 16px 40px;
    border: 1px solid $HomekItorange;
    border-radius: 30px;
    color: white;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 17px;
    outline: none;
  }
}

#air{
  background-image: linear-gradient(to right bottom, rgba(black, 0.9), rgba(gray, 0.9)),
             url(../../assets/images/air_bank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  position: absolute;
  width: 25%;
  top: 0;
  height: 100vh;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  button{
    background-color: transparent;
    padding: 16px 40px;
    border: 1px solid $airbankblue;
    border-radius: 30px;
    color: white;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 17px;
    outline: none;
  }
}

#stock{
  background-image: linear-gradient(to right bottom, rgba(black, 0.9), rgba(gray, 0.9)),
             url(../../assets/images/stock.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  position: absolute;
  width: 25%;
  top: 0;
  height: 100vh;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  button{
    background-color: transparent;
    padding: 16px 40px;
    border: 1px solid $stockbankgreen;
    border-radius: 30px;
    color: white;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 17px;
    outline: none;
  }
}

.values{
  height: 100vh;
  background :linear-gradient(to right bottom,rgba(0,0,0,1),rgba(128,128,128,.5)),url(../../assets/images/values.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    &__content {
      margin-left: 150px;
      color: white;
      width: 47%;
      h1 {
        font-size: 27px;
        font-family: 'Crimson Text', serif;
      }
      p {
        margin-top: 20px;
        font-size: 40px;
        font-family: 'Crimson Text', serif;
      }
      button{
        margin-top: 40px;
        font-size: 18px;
        padding: 15px 35px;
        font-family: 'Crimson Text', serif;
        cursor: pointer;
      }
    }
}


.hospital {
  height: 100vh;
  background: linear-gradient(to right bottom,rgba(0,0,0,.9),rgba(128,128,128,.6)),url('../../assets//images/hospital.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    transition: all 0.6s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    &__content {
      color: white;
      width: 45%;
      margin-bottom: 100px;
      margin-left: 100px;
      h1 {
        font-size: 27px;
        font-family: 'Crimson Text', serif;
      }
      p {
        margin-top: 20px;
        font-size: 50px;
        font-family: 'Crimson Text', serif;
      }
      button {
        margin-top: 40px;
        font-size: 18px;
        padding: 15px 35px;
        font-family: 'Crimson Text', serif;
        cursor: pointer;
        font-weight: 550;
      }
    }
}

.patient {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(black, 0.9), rgba(gray, 0.5)),
             url(../../assets/images/patients.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    transition: all 0.6s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    &__content {
      color: white;
      width: 45%;
      margin-bottom: 100px;
      margin-left: 100px;
      h1 {
        font-size: 27px;
        font-family: 'Crimson Text', serif;
      }
      p {
        font-size: 40px;
        font-family: 'Crimson Text', serif;
        margin-top: 20px;
      }
      button {
        margin-top: 40px;
        font-size: 18px;
        padding: 15px 35px;
        font-family: 'Crimson Text', serif;
        cursor: pointer;
        font-weight: 550;
      }
    }
}

.partner {
  height: 100vh;
  background: linear-gradient(to right bottom,rgba(0,0,0,.9),rgba(128,128,128,.5)),url('../../assets/images/partner.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    &__content {
      color: white;
      width: 50%;
      margin-bottom: 100px;
      margin-right: 100px;
      text-align: right;
      h1{
        font-size: 2.4rem;
        font-family: 'Crimson Text', serif;
      }
      p {
        font-size: 40px;
        font-family: 'Crimson Text', serif;
        margin-top: 20px;
      }
      button {
        margin-top: 40px;
        font-size: 18px;
        padding: 15px 35px;
        font-family: 'Crimson Text', serif;
        cursor: pointer;
        font-weight: 550;
      }
    }
}

.people {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(black, 0.9), rgba(gray, 0.5)),
             url(../../assets/images/people.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    &__content {
      color: white;
      width: 45%;
      margin-bottom: 100px;
      margin-left: 100px;
      h1 {
        font-size: 27px;
        font-family: 'Crimson Text', serif;
      }
      p {
        font-size: 37px;
        font-family: 'Crimson Text', serif;
        margin-top: 20px;
      }
      button {
        margin-top: 40px;
        font-size: 18px;
        padding: 15px 35px;
        font-family: 'Crimson Text', serif;
        cursor: pointer;
        font-weight: 550;
      }
    }
}

.award {
  display: flex;
  height: 90vh;
  &__content {
    padding: 60px;
    background-color: #f2f1f8;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      text-align: left;
      font-family: 'Crimson Text', serif;
      font-size: 30px;
    }
    p {
      font-family: 'Crimson Text', serif;
      margin-top: 40px;
      font-size: 22px;
      line-height: 3.7rem;
    }
  }
  &__icon {
    padding: 20px;
    flex: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;

    &-container {
      display: flex;
      justify-content: space-around;
      img {
        width: 20%;
        height: 20%;
      }
    }
  }
}
.award__icon-container:not(:last-child) {
  margin-bottom: 120px;
}

.achievement {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #f4f6f7;

  h1 {
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-size: 60px;
    font-weight: 550;
  }
  p{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Crimson Text', serif;
    width: 50%;
    line-height: 4.5rem;
    margin: 40px auto 0 auto;
  }
  &__container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__card {
    background-color: white;
    border-radius: 20px;
    width: 18%;
    // height: 300px;
    color: white;
    box-shadow: 0 16px 16px 0 rgba(61, 118, 165, 0.05);
    padding-top: 70px;
    transition: transform .3s;
    h1{
      font-size: 60px;
      text-align: center;
      font-family: inherit;
      font-weight: 800;
      color: $LifeBankred;
    }
    p {
      margin: 40px auto 70px;
      font-size: 17px;
      width: 100%;
      font-family: 'Crimson Text', serif;
      color: black;
    }
    &:hover{
      transform: translateY(-1.5rem) scale(1.03);
    }
  }
}

@keyframes slide {
  0% {
      transform: translateY(500px);
  }
  100% {
      transform: translateY(0px);
  }
}

@keyframes direction {
  100% {
      transform: translateY(10px);
  }
  0% {
      transform: translateY(0px);
  }
}

@keyframes moveInLeft{
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80%{
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight{
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80%{
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* ==========================================media queries==============================================================================*/

@media(max-width: '1884px') {
  .header__img{
    height: 47%;
    width: 45%;
  }
   .header__text{
     h1{
       font-size: 10rem;
     }
   }
 }

 @media(max-width: '1802px') {
   .header__img{
     height: 48%;
     width: 48%;
   }
    .header__text{
      h1{
        font-size: 9.5rem;
      }
    }
  }

  @media(max-width: '1694px') {
   .header__img{
     height: 49%;
     width: 49%;
   }
    .header__text{
      h1{
        font-size: 8rem;
      }
    }
  }

  @media(max-width: '1566px') {
   .header__img{
     height: 52%;
     width: 52%;
   }
    .header__text{
      h1{
        font-size: 8rem;
      }
    }
  }

  @media(max-width: '1440px') {
   .header__text{
     h1{
       font-size: 6.8rem;
     }
     p{
       font-size: 2.3rem;
     }
   }
   .header__img{
     align-self: center;
     width: 50%;
     img {
       width: 100%;
       height: 100%;
     }
   }
   .values__content{
    margin-left: 100px;
    width: 50%;
    p{
      font-size: 3.4rem;
    }
  }
  .hospital__content{
    margin-left: 100px;
    width: 50%;
    p{
      font-size: 3.8rem;
    }
  }
  .patient__content{
    margin-left: 100px;
    width: 50%;
    h1{
      font-size: 2.4rem;
    }
    p{
      font-size: 3.4rem;
    }
  }
  .award__content{
    p{
      font-size: 1.8rem;
      // line-height: 2.7rem;
    }
  }
  .award__icon-container{
    img{
      width: 30%;
      height: 30%;
    }
  }
  .achievement__container{
    width: 86%;
  }
 }

 @media(max-width: '1356px') {
   .header__text{
     h1{
       font-size: 6rem;
     }
     p{
       font-size: 2rem;
     }
   }
   .header__img{
     align-self: center;
     height: 88%;
     img {
       width: 100%;
       height: 100%;
     }
   }
   .achievement__card{
    h1{
      font-size: 40px
    }
  }
 }

 @media(max-width: '1200px'){
  .header__content{
    width: 93%;
  }
  .header__direction{
    margin: 100px auto 0 auto;
  }
 }

 @media(max-width: '1000px') {
   .header__img {
     display: none;
   }
   .header__text{
     width: 80%;
     margin: 0 auto;
     h1{
       font-size: 10rem;
       text-align: center;
     }
     p{
       margin-top: 30px;
       text-align: center;
       font-size: 2.5rem;
       width: 100%;
       line-height: 40px;
     }
   }
 }

 @media(max-width: '848px') {

  .header__text{
    h1{
      font-size: 8rem;
      text-align: center;
    }
    p{
      margin-top: 30px;
      text-align: center;
      font-size: 2.5rem;
      width: 100%;
      line-height: 40px;
    }
  }
  .header__direction{
    margin: 50px auto 0 auto;
    width: 4%;
  }
}

@media(max-width: '692px') {

  .header__text{
    h1{
      font-size: 7.2rem;
      text-align: center;
    }
    p{
      margin-top: 30px;
      text-align: center;
      font-size: 2.3rem;
      width: 100%;
      line-height: 40px;
    }
  }
  .header__direction{
    margin: 50px auto 0 auto;
    width: 4%;
  }
}

@media(max-width: '587px') {

  .header__content{
    margin: 50px auto 0 auto;
  }

  .header__text{
    h1{
      font-size: 6rem;
      text-align: center;
    }
    p{
      margin-top: 25px;
      text-align: center;
      font-size: 2.3rem;
      width: 100%;
      line-height: 30px;
    }
  }
  .header__direction{
    margin: 70px auto 0 auto;
    width: 6%;
  }
}

@media(max-width: '500px') {
  .header__content{
    width: 95%;
    margin: 50px auto 0 auto;
  }

  .header__text{
    h1{
      font-size: 5.3rem;
      text-align: center;
    }
    p{
      margin-top: 20px;
      text-align: center;
      font-size: 2.3rem;
      width: 100%;
      line-height: 27px;
    }
  }
  .header__direction{
    margin: 10px auto 0 auto;
    width: 6%;
  }
}

@media(max-width: '360px') {
  .header__content{
    width: 100%;
    margin: 20px auto 0 auto;
  }

  .header__text{
    h1{
      font-size: 4.3rem;
      text-align: center;
    }
    p{
      margin-top: 15px;
      text-align: center;
      font-size: 1.7rem;
      width: 100%;
      line-height: 23px;
    }
  }
  .header__direction{
    margin: 0px auto 0 auto;
    width: 6%;
  }
  .values{
    align-items: flex-end;
  }
 .values__content{
   margin-left: 10px;
   margin-bottom: 30px;
   width: 80%;
   p{
     font-size: 27px;
   }
 }
.hospital__content{
 margin-left: 10px;
 width: 80%;
 p{
   font-size: 27px;
 }
}
.patient__content{
  margin-left: 20px;
  margin-bottom: 60px;
  width: 80%;
  p{
    font-size: 27px;
  }
 }
 .partner__content{
  margin-right: 20px;
  margin-bottom: 60px;
  width: 80%;
  p{
    font-size: 27px;
  }
 }
 .award{
   flex-wrap: wrap;
   &__content{
     padding: 20px;
     width: 100%;
     display: block;
     h1{
       font-size: 36px;
       text-align: center;
     }
     p{
       margin-top: 20px;
       font-size: 18;
       line-height: 2.8rem;
     }
   }
 }
}


